body.page-template-about,
body.page-template-team,
body.page-template-accreditations,
body.page-template-vacancies,
body.page-template-thankyou,
body.page-template-vacancies-apply,
body.single-vacancies {

	header#site-header {
		background: @bgGrey;
	}

	.sub-page-nav {

		.desktop-nav {

			ul {

				li {
					@media @md {
						width: 25%;
					}

					&:nth-child(5),
					&:nth-child(6) {
						display: none !important;
					}
				}

			}

		}

	}

	.main {
		background: @bgGrey;
		padding: 40px 0;
		@media @md {
			padding: 100px 0;
		}
		@media @lg {
			padding: 140px 0;
		}
		
		.block {
			margin: 0;
			
			.content {
				padding: 30px;
				position: relative;
				z-index: 3;
				@media @sm {
					padding: 35px 80px 35px 35px;
				}
				@media @md {
					width: 50%;
				}
				@media @lg {
					width: 810px;
				}

				.inner {
					width: 100% !important;

					h2 {
						color: @default--primary-colour;
						font-size: 26px;
						line-height: 36px;
						margin: 0 0 20px;
						@media @sm {
							font-size: 30px;
							line-height: 40px;
						}
						@media @lg {
							
						}
					}

					p, ul li, ol li {
						font-size: 16px;
						line-height: 24px;
						margin-bottom: 30px;
						@media @md {
							font-size: 19px;
							line-height: 28px;
						}
					}

					ul {
						&:extend(.unstyled all);
						margin: 15px 0 15px 15px;
						@media @md {
							margin: 20px 0 20px 30px;
						}

						li {
							margin-bottom: 5px;
							position: relative;
							padding-left: 20px;

							&:before {
								background: @default--primary-colour;
								content: '';
								height: 6px;
								position: absolute;
								top: 8px;
								left: 0;
								width: 6px;
								@media @sm {
									top: 11px;
								}
							}

						}

					}

					ol {
						margin: 15px 0 15px 15px;
						padding: 0;
						@media @md {
							margin: 20px 0 20px 30px;
						}

						li {
							margin-bottom: 10px;
						}

					}

					img {
						display: block;
						height: auto;
						max-width: 100%;
					}

				}

			}

			.img {
				background-position: 50% 0;
				background-repeat: no-repeat;
				background-size: cover;
				display: block;
				height: 0;
				padding-bottom: 75%;
				z-index: 2;
				@media @sm {
					padding-bottom: 50%;
				}
				@media @md {
					height: auto;
					// bottom: -40px;
					height: 1100px; 
					padding: 0;
					position: absolute;
					right: 0;
					top: -40px;
					width: 60%;
				}
				@media @lg {
					bottom: -40px;					
					height: auto;
					
					// height: 465px;
					// top: 70px;
					// width: 700px;
				}
				@media @xlg {
					bottom: -70px;
					top: -70px;
					width: 1000px;
				}
			}

			&.full {
				margin: 0;
				
				.content {
					padding: 30px;
					position: relative;
					z-index: 3;
					width: 100% !important;
					@media @sm {
						padding: 35px;
					}
				}
				
			}

		}

	}

	#making-a-difference:after {
		display: none;
	}
	
}





body.page-template-about .main .block .img {
	max-height: none !important;
}