body.page-template-brand-inner,
body.page-template-brand-contact,
body.page-template-brand-thankyou {

	#brand-hero {
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-color: #000;
		background-size: cover;
		color: #fff;
		// height: 150px;
		padding: 0;
		position: relative;
		@media @sm {
			height: 250px;
		}
		@media @lg {
			height: 515px;
		}

		.strip {
			background: rgba(0,0,0,.6);			
			padding: 20px 0;			
			width: 100%;
			@media @sm {
				bottom: 0;
				min-height: 140px;
				padding: 30px 0;
				position: absolute;
			}
			@media @lg {
				min-height: 182px;
				padding: 40px 0;
			}
		}

	    .container {
	    	height: 100%;
	    	position: relative;

	    	.logo {	    
	    		display: block;
	    		height: auto;
	    		margin-bottom: 10px;
	    		max-width: 140px;
	    		@media @sm {
	    			margin: 0;
	    			position: absolute;
	    			right: 0;
	    			top: -30px;
    			}
    			@media @lg {
    				max-width: 180px;
    				top: -40px;
    			}
    		}

	    	.inner {
	    		@media @xlg {
	    			top: 530px;
	    		}

	    		h1 {
	    			font-size: 20px;
	    			line-height: 28px;
	    			margin: 0;
	    			@media @sm {
						font-size: 26px;
						line-height: 38px;
					}
					@media @lg {
						font-size: 30px;
					}

	    		}

	    		p {
	    			font-size: 13px;
	    			line-height: 22px;
	    			margin: 0;
	    			@media @sm {
	    				margin-bottom: 20px;
	    			}
	    			@media @lg {
	    				width: 440px;
	    			}
	    		}

	    	}

	    }

	}

}