body.page-template-brand-homepage {

	#brand-home-hero {		
		color: #fff;		
		// padding: 50px 0;
		padding: 0;
		position: relative;

		.slide {
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-color: #000;
			background-size: cover;
			height: 550px;
			width: 100%;
			@media @sm {
				height: 700px;
			}
			@media @lg {
				height: 865px;
			}
		}

		.logo {
    		display: block;
    		margin: auto;
    		max-width: 100px;
    		position: absolute;
    		top: 50px;
    		left: 0;
    		right: 0;
    		z-index: 2;
    		@media @sm {
    			max-width: none;
    			top: 75px;
    		}
    	}

	    .intro {
	    	background: rgba(0,0,0,.5);
	    	bottom: 0;
	    	padding: 30px 0 50px;
	    	position: absolute;
	    	width: 100%;
	    	z-index: 2;

    		.right {    			
    			padding-right: 65px;
    			position: relative;    			
    			@media @sm {
    				float: right;
    				width: 350px;
    			}

    			h2 {
    				font-size: 18px;
    				line-height: 24px;
    				margin-bottom: 10px;
    			}
    			
    			p {
    				margin: 0;
    			}

    			.custom-owl-nav {
    				position: absolute;
    				right: 0;
    				top: 0;
					
					span {

						&.next {
							margin-bottom: 7px;
						}

						&.prev {

						}

					}

				}

    		}

    		hr {
    			border-color: #fff;
    			margin: 20px 0;
    		}

    		.left {	    		

	    		h1 {
	    			font-size: 20px;
					margin-bottom: 20px;
	    			@media @sm {
						font-size: 26px;
					}
					@media @lg {
						font-size: 30px;
					}

	    		}

	    		p {
	    			font-size: 13px;
	    			line-height: 22px;
	    			margin: 0;
	    			@media @lg {
	    				width: 340px;
	    			}
	    		}

    		}

	    }

	}


	// Welcome Slider 

	#welcome-slider {
		background-color: #f4f4f4;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
		padding: 20px 0;
		@media @sm {
			padding: 40px 0;
		}
		@media @md {
			padding: 80px 0;
		}

		.slide {
			margin-left: -15px;
			margin-right: -15px;
			position: relative;
			@media @sm {
				margin: 0;
			}

			.content {
				.box-shadow(0 0 20px 1px rgba(0,0,0,.1));
				display: block;
				padding: 30px;
				@media @md {
					float: left;
					// min-height: 425px;
					padding: 50px;
					width: 400px;
				}
				@media @lg {
					// float: none;
					// min-height: 545px;
					margin-top: 50px;
					padding: 75px 50px 50px;
					position: relative;
					z-index: 2;
					// position: absolute;
					// top: 55px;
					width: 485px;
				}

				h2 {
					font-size: 24px;
				}

				hr {
					margin: 25px 0;
				}

				p {

					a {
						font-style: 13px;
						text-transform: uppercase;

						.icon {
							margin-left: 10px;
							top: 2px;
						}

					}

					&.more {
						margin-top: 50px;
					}

				}

			}

			.img {
				background-position: 50% 50%;
				background-repeat: no-repeat;
				background-size: cover;
				display: block;				
				height: 200px;
				@media @md {
					float: right;
					height: 480px;
					width: 540px;
				}
				@media @lg {
					height: 600px;
					position: absolute; 
					right: 0;
					z-index: 1;
					width: 1175px;


				}
			}

		}

		.owl-nav {
			left: 0;
			position: absolute;
			right: 0;			
			top: 175px;			
			@media @lg {
				top: 225px;
			}
			@media @xlg {
				left: -20px;
				right: -20px;
			}
			
			button {
				background: #fff;
				height: 50px;
				outline: none;
				width: 50px;

				i {
					.transition;
					.opacity(20);
					top: 2px;
				}

				&:hover i {
					.opacity(100);
				}

				&.owl-prev {

				}

				&.owl-next {
					float: right;
				}

			}

		}

		.owl-dots {
			margin: 20px 0;
			text-align: center;
			@media @sm {
				margin: 30px 0 0;
			}

			.owl-dot {
				.border-radius(50%);
				background: #fff;
				height: 20px;
				margin: 5px;
				outline: none;
				width: 20px;

				&.active {
					background: #ccc;
				}

			}

		}

	}

}