body.page-template-contract-catering-home,
body.page-template-contract-catering-inner {

	header#site-header {
		background: @bgGrey;
	}

	.container-fluid {
		padding: 0;
	}

	.main {
		background: @bgGrey;
		padding-bottom: 0;
		@media @md {
			padding-bottom: 20px;
		}
	}

	.panel {
		position: relative;

		.content {
			padding: 30px;
			position: relative;
			z-index: 2;			
			@media @sm {
				padding: 35px;
			}
			@media @md {
				width: 50%;
			}
			@media @lg {
				width: 600px;	
			}
			@media @xlg {
				margin-top: 40px;
				width: 710px;
			}

			h2 {
				font-size: 26px;
				line-height: 36px;
				margin: 0 0 25px;
				@media @sm {
					font-size: 30px;
					line-height: 40px;
				}
			}

			p, ul li {
				font-size: 16px;
				line-height: 24px;
				margin-bottom: 30px;
				@media @md {
					font-size: 19px;
					line-height: 28px;
				}

				a {
					color: @default--primary-colour;

					&:hover,
					&:active {
						color: @bodyColour;
					}

				}

			}

			ul {
				&:extend(.unstyled all);
				margin: 15px 0 15px 15px;
				@media @md {
					margin: 20px 0 20px 30px;
				}

				li {
					margin-bottom: 5px;
					position: relative;
					padding-left: 20px;

					&:before {
						background: @default--primary-colour;
						content: '';
						height: 6px;
						position: absolute;
						top: 8px;
						left: 0;
						width: 6px;
						@media @sm {
							top: 11px;
						}
					}

				}

			}

		}

		.img {
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-size: cover;
			height: 0;
			padding-bottom: 75%;
			z-index: 1;
			@media @sm {
				padding-bottom: 50%;
			}
			@media @md {
				padding: 0;
			}
			@media @xlg {
			}
		}

	}

}

body.page-template-contract-catering-home {

	.main {		

		.panel {

			.content {
				background: #85888a;
				color: #fff;
				@media @sm {
				}
				@media @md {
					float: left;
					width: 50%;
				}
				@media @lg {
					width: 600px;	
				}
				@media @xlg {
					margin-top: 40px;
					width: 710px;
				}

				h2 {
					border-bottom: 2px solid @default--primary-colour;
					color: #fff !important;
					color: @bodyColour;
					display: block;
					padding-bottom: 20px;
				}

				p, ul li {

					a {
						color: #fff;

						&:hover,
						&:active {
							color: @default--primary-colour;
						}

					}

				}

			}

			.img {
				@media @sm {
				}
				@media @md {
					bottom: 0;
					height: 550px;
					position: absolute;
					right: 0;
					width: 800px;
				}
				@media @xlg {
					height: 630px;
					width: 850px;
				}
			}

		}

	}

}


body.page-template-contract-catering-inner {

	.main {		
		background: @bgGrey;
		padding: 40px 0;
		@media @md {
			padding: 60px 0;
		}

		.panel {

			.content {
				background: #fff;
				color: @bodyColour;
				@media @sm {
				}
				@media @md {
					float: left;
					width: 50%;
				}
				@media @lg {
					margin-top: 30px;
					// left: 0;
					// position: absolute;
					// top: 30px;
					width: 600px;
				}
				@media @xlg {
					margin-top: 90px;
					// top: 50px;					
				}
				@media @xlg {
					width: 710px;
				}

				h2 {
					color: @default--primary-colour;
				}

				.btn {
					font-size: 13px;
					height: 70px;
					line-height: 70px;
					margin-top: 20px;
					padding: 0 10px;
					width: 100%;
					@media @sm {
						font-size: 16px;
						height: 80px;
						line-height: 80px;
						margin-top: 20px;
						padding: 0 40px;
						width: auto;
					}
					@media @md {
						font-size: 18px;
						height: 90px;
						line-height: 90px;
						width: 350px;
					}

					&:after {
						&:extend(.icon.arrow-right-white-large);
						display: none;
						@media @sm {
							display: inline-block;
							margin-left: 15px;
							top: 30px;
						}
						@media @md {
							top: 35px;
						}
					}

					&:hover {
						background: @bodyColour;
						color: #fff;

						&:after {
							&:extend(.icon.arrow-right-white-large);
						}

					}

				}

			}

			.img {
				background-position: 0 0;
				height: auto;
				height: 300px;
				padding: 0;
				position: relative;
				@media @md {		
					bottom: 0;
					float: right;
					height: auto;
					max-height: 640px;
					right: 0;
					position: absolute;
					top: 0;
					width: 50%;
				}
				@media @lg {
					max-height: 750px;
					width: 700px;



					
				}
				@media @xlg {
					max-height: 950px;
					width: 890px;
				}

				.logo {	
					background: rgba(0,0,0,.8);
					text-align: center;
					bottom: 0;
					top: 0;
					position: absolute;
					width: 100%;
					@media @md {
						top: auto;
						padding: 40px 0;
					}

					img {
						.vertical-align;
						display: inline-block;
						height: auto;
						margin: 0 auto;
						max-width: 100%;
						@media @md {
							.no-vertical-align;
						}
					}

				}

			}

		}

	}

}