body.page-template-contact,
body.page-template-brand-contact {

	.main {
		@media @sm {
			padding-top: 80px;
		}
		@media @lg {
			padding: 150px 0 ;
		}

		.block {

			.content {
				@media @sm {
					float: left;
					width: 50%;					
				}
				@media @lg {
					position: absolute;
					top: -50px;
					width: 1009px;
					z-index: 1;
				}
				@media @xlg {
					width: 1245px;
				}
			}

			.inner {
				@media @sm {
					width: 280px;					
				}
				@media @md {
					width: 310px;
				}
				@media @xlg {
					width: 350px;
				}

				h3 {
					margin-bottom: 0 !important;
				}

				p.contact-details {
					@media @lg {
						font-size: 16px;
						line-height: 28px;
						margin-top: 40px;
					}

					a {
						color: @bodyColour;
					}

				}

			}
			
			.form {
				background: #000;
				color: #fff;
				display: block;
				padding: 30px;
				z-index: 3;
				@media @sm {
					float: right;
					margin-top: -30px;					
					width: 50%;
				}
				@media @md {
					padding: 40px 60px;					
				}
				@media @lg {
					margin-top: 0;
					padding: 50px 90px;
					position: relative;
					width: 700px;
					z-index: 2;
				}
				@media @xlg {
					width: 890px;
				}

				.form-group {
					@media @sm {
						margin-bottom: 27px;
					}
				}

				.form-control {
					font-size: 14px;
					height: 40px;
					line-height: 40px;
				}

				textarea.form-control {
					height: 160px;
					font-size: 16px;
					line-height: 1.5;
					padding: 10px;
					resize: none;
					width: 100%;
				}

				.validation_message {
					color: @error;
					display: block;
					font-size: 14px;
					margin: 10px 0 0;
				}

				.gform_confirmation_message {
					font-size: 14px;
					line-height: 20px;
					@media @sm {
						height: 250px;
					}
					@media @lg {
						font-size: 18px;
						height: 400px;
					}
				}

				.submit {
					background: #fff;
					color: @bodyColour;
					border: none;
					font-size: 14px;
					height: 35px;
					line-height: 35px;
					outline: none;
					padding: 0 20px;
					text-transform: none;
					width: auto;

					&:hover {
						background: #ccc;				
						// background: #fff;
						// color: #000;	
					}

					&:after {
						display: none;
					}

				}

			}

		}

	}

}




body.page-template-contact {

	.main {
		@media @lg {
			padding: 100px 0;
		}

		.block {

			.content {
				@media @lg {
					position: relative;
					top: auto;
				}				
			}

			.form {
				@media @lg {
					position: absolute;
					right: 0;
					top: 40px;
				}
			}

		}

	}

}