body.home {

	header#site-header {
		background: @bgGrey;
	}
	
	#intro {
		background: #fff;
		padding: 45px 0;

		h1 {
			margin-bottom: 20px;
		}

	}

	#homepage-hero {
		background: url('/wp-content/themes/abm-catering/img/home/home-hero-mobile.jpg') 50% 0 no-repeat;
		background-position: 50% 0;
		background-repeat: no-repeat;
		background-size: cover;
		color: #fff;
		padding: 50px 20px 350px;
		position: relative;
		width: 100%;
		@media @sm {
			background-image: url('/wp-content/themes/abm-catering/img/home/home-hero.jpg');
		}
		@media @lg {
			height: 660px;
			padding: 0;
		}
		@media @xlg {
			height: 775px;
		}
		@media @full {
			height: 870px;
		}

		.strip {
			background: rgba(0,0,0,.6);
			bottom: 0;
			left: 0;
			padding: 30px 0;
			position: absolute;
			width: 100%;
			@media @lg {
				height: 225px;
				padding: 40px 0;
			}
		}
		
		h1 {
    		font-family: @proxima;
			font-size: 32px;
			line-height: 42px;
			position: relative;
			text-align: center;
			z-index: 1;
			@media @sm {
				font-size: 46px;
				line-height: 58px;
				margin: 0;
			}
			@media @md {
				font-size: 52px;
				line-height: 68px;	
				margin-bottom: 75px;
			}
			@media @lg {
				font-size: 52px;
				line-height: 68px;
				margin: 120px 0 0;
			}
		}

		.img {
			// background: url('/wp-content/themes/abm-catering/img/home/home-hero-mobile.jpg') 50% 0 no-repeat;
			// background-position: 50% 0;
			// background-repeat: no-repeat;
			// background-size: cover;			
			// height: 350px;
			// left: 0;
			// position: absolute;
			// top: 0;
			// width: 100%;
			// @media @sm {
			// 	background-image: url('/wp-content/themes/abm-catering/img/home/home-hero.jpg');
			// 	height: 330px;
			// }
			// @media @lg {
			// 	height: 450px;
			// }
			// @media @xlg {
			// 	height: 550px;
			// }
			// @media @full {
			// 	height: 630px;
			// }
		}

	    .next-section {
	    	display: none;
	    	@media @lg {
			    background: @bgGrey;
			    height: 100%;
			    display: block;
			    position: absolute;
			    right: 0;
			    top: 0;
			    width: 50px;
			    z-index: 9;
		    }

	    	.icon {
	    		bottom: 120px;
	    		display: block;
	    		left: 50%;
	    		margin-left: -6px;
	    		position: absolute;
	    		text-indent: -9999em;	    		
	    	}

	    }

	    .container {
	    	height: 100%;
	    	position: relative;
	    	z-index: 1;

	    	.inner {
	    		@media @sm {
	    			margin-top: -70px;
	    		}
	    		@media @lg {
	    			margin-top: -100px;
	    		}

	    		h2 {
	    			font-size: 20px;
					margin-bottom: 20px;
	    			@media @sm {
						font-size: 26px;
					}
					@media @lg {
						font-size: 30px;
						margin-bottom: 45px;
					}

	    		}

	    		p {
	    			font-size: 13px;
	    			line-height: 22px;
	    			margin-bottom: 35px;
	    		}

	    		.btn {

	    		}

	    	}

	    }

	    .mask {
	    	display: none;
	    	@media @sm {
		    	background: rgba(0,0,0,.2);
		    	bottom: 0;
		    	display: block;
		    	position: absolute;
		    	left: 0;
		    	right: 0;
		    	top: 0;
	    	}
	    }

	}

	#home-hero {
		background: #221f20;	
		color: #fff;	
		height: 580px;	
		padding: 50px 0;
		position: relative;
		@media @sm {
			padding: 75px 0 0;
			height: 525px;
		}
		@media @lg {
			height: 660px;
			padding: 0;
		}
		@media @xlg {
			height: 775px;
		}
		@media @full {
			height: 870px;
		}

		.img {
			background: url('/wp-content/themes/abm-catering/img/home/home-hero-mobile.jpg') 50% 0 no-repeat;
			background-position: 50% 0;
			background-repeat: no-repeat;
			background-size: cover;			
			height: 350px;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
			@media @sm {
				background-image: url('/wp-content/themes/abm-catering/img/home/home-hero.jpg');
				height: 330px;
			}
			@media @lg {
				height: 450px;
			}
			@media @xlg {
				height: 550px;
			}
			@media @full {
				height: 630px;
			}
		}

	    .next-section {
	    	display: none;
	    	@media @lg {
			    background: @bgGrey;
			    height: 100%;
			    display: block;
			    position: absolute;
			    right: 0;
			    top: 0;
			    width: 50px;
		    }

	    	.icon {
	    		bottom: 120px;
	    		display: block;
	    		left: 50%;
	    		margin-left: -6px;
	    		position: absolute;
	    		text-indent: -9999em;	    		
	    	}

	    }

	    .container {
	    	height: 100%;
	    	position: relative;

	    	h1 {
	    		font-family: @proxima;
    			font-size: 32px;
				line-height: 42px;
    			text-align: center;
    			@media @sm {
    				font-size: 46px;
					line-height: 58px;
					margin: 0;
    			}
    			@media @md {
    				font-size: 52px;
					line-height: 68px;	
					margin-bottom: 75px;
    			}
    			@media @lg {
    				font-size: 52px;
					line-height: 68px;
					margin: 120px 0 0;
    			}
    		}

	    	.inner {
	    		bottom: -10px;
	    		position: absolute;
	    		@media only screen and (min-width: 400px) {
	    			bottom: 10px;
	    		}
	    		@media @sm {
		    		bottom: 50px;
	    		}
	    		@media @xlg {
	    			bottom: 70px;
	    		}
	    		@media @full {
	    			bottom: 85px;
	    		}

	    		h2 {
	    			font-size: 20px;
					margin-bottom: 20px;
	    			@media @sm {
						font-size: 26px;
					}
					@media @lg {
						font-size: 30px;
						margin-bottom: 45px;
					}

	    		}

	    		p {
	    			font-size: 13px;
	    			line-height: 22px;
	    			margin-bottom: 35px;
	    		}

	    		.btn {

	    		}

	    	}

	    }

	}
	
}