.blog,
.archive,
.category {

	header#site-header {
		background: @bgGrey;
	}

	#latest-news {
		padding: 30px 0;
		@media @sm {
			padding: 40px 0;
		}
		@media @md {
			padding: 60px 0;
		}

		.news-wrap {
			background: #fff;
			padding: 40px 20px 0;
			width: auto !important;
			@media @sm {
				padding: 40px 40px 0;
			}

			article {
				margin-bottom: 40px;
				@media @sm {
					margin-bottom: 60px;
				}
				@media @md {
					margin-bottom: 100px;
				}

				&:nth-child(3) {
					@media @sm {
						display: block;
					}
				}

			}

		}

		.tweets-wrap {
			background: #333;
			margin: 30px 0 0;
			padding: 40px 20px 0;
			@media @sm {
				padding: 40px 30px 20px;
			}
			@media @md {
				margin: 0;
			}
			@media @xlg {
				padding: 40px 80px 60px 40px;
			}
			@media @full {
				padding: 40px 140px 80px 40px;
			}
			
			h2 {
				color: #fff;
				@media @md {
					font-size: 30px;
				}
			}

			#ctf.twitter-feed {
				color: #fff;
				padding-top: 30px;
				@media @xlg {
					padding-top: 45px;
				}

				a {
					color: #fff !important;

					&:hover {
						text-decoration: underline;
					}

				}

				.ctf-item {
					border: none;
					margin: 0 0 32px;
					padding: 0;
					position: relative;
				}

				.ctf-author-name,
				.ctf-screename-sep,
				.ctf-verified {
					display: none !important;
				}

				.ctf-author-avatar {
					.border-radius(50%);
					background: @default--primary-colour;
					display: block;
					height: 60px;
					margin: 0;
					position: absolute;
					text-align: center;
					top: 0;
					left: 0;
					width: 60px;

					&:before {
						.fa('\f099');
						color: #fff;
						font-size: 20px;
						position: relative;
						top: 21px;
					}

					img {
						display: none;
						// display: block;
						// height: auto;
						// max-width: 100%;
					}

				}
				
				.ctf-tweet-content,
				.ctf-author-box {
					margin: 0;
					padding: 0 0 0 80px;
				}

				.ctf-tweet-content {
					padding-bottom: 40px;
				}

				.ctf-author-box {
					min-height: 0;
				}

				.ctf-author-screenname {
					color: @default--primary-colour !important;
					display: block;
					font-size: 17px;
					font-weight: bold;
					line-height: 1;					
					margin: 2px 0 12px;
					padding: 0;
					@media @sm {
						font-size: 19px;
						margin-bottom: 7px;
					}
				}

				.ctf-tweet-text {
					font-size: 13px;
					line-height: 26px;
					margin-bottom: 20px;
				}

				.ctf-tweet-meta {
					font-size: 14px;
					bottom: 0;
					left: 80px;
					margin: 0;
					padding: 0;
					position: absolute;
				}

			}

		}

		h2 {
			color: @default--primary-colour;
			margin-bottom: 5px;
			text-align: left;
		}

		p {
			font-size: 16px;
			margin-bottom: 40px;
		}

		.categories-list {
			&:extend(.inline all);
			display: none;						
			@media @sm {
				display: block;
				margin-bottom: 40px;
			}

			li {
				color: @default--primary-colour;
				text-transform: uppercase;

				ul {
					&:extend(.inline all);
					@media @sm {
						display: inline-block;
						margin-left: 30px;
					}
					@media @md {
						margin-left: 50px;
					}

					li {

						a {
							color: @bodyColour;
							text-transform: none;

							&:hover {
								color: @default--primary-colour;
							}

						}

						&.current-cat a {
							color: @default--primary-colour;
							font-weight: 700;
						}

						&:after {
							background: @bodyColour;
							content: '';
							display: inline-block;
							height: 11px;
							margin: 0 12px;
							position: relative;
							top: 1px;
							width: 1px;
						}

						&:last-child:after {
							display: none;
						}

					}

				}

			}

		}

	}

	.navigation {
		padding-bottom: 20px;
		@media @md {
			padding-bottom: 30px;
		}

		&:after {
			@media @sm {
				background: #c9cbcd;
				content: '';
				display: block;
				height: 1px;
				position: relative;
				top: -27px;
				width: 100%;
			}
		}	

		div {
			background: #fff;
			position: relative;
			text-align: center;
			width: 100%;
			z-index: 2;
			@media @sm {
				width: auto;
			}

			a {
				border: 1px solid #c9cbcd;
				color: @bodyColour;
				display: inline-block;
				font-size: 14px;
				height: 50px;
				line-height: 50px;
				padding: 0 25px;
				text-transform: uppercase;
				width: 100%;
				@media @sm {
					height: 55px;
					line-height: 55px;
					width: 195px;
				}

				&:after {
					.opacity(20);
					content: '';
			        display: block;
			        top: 21px;
				}

				&:hover {
					border-color: @bodyColour;

					&:after {
						.opacity(100);
					}

				}

			}

		}

		.newer {
			@media @sm {
				float: left;
				padding-right: 20px;
			}

			a:after {
	            &:extend(.icon);
	            &:extend(.icon.arrow-left-dark);
	            display: none;
	            @media @sm {
	            	display: block;
		            float: left;
		            margin-right: 10px;
	            }
			}

		}

		.older {
			margin-top: 20px;
			@media @sm {
				float: right;
				margin-top: 0;
				padding-left: 20px;
			}

			a:after {
	            &:extend(.icon);
	            &:extend(.icon.arrow-right-dark);
	            display: none;
	            @media @sm {
	            	display: block;
		            float: right;
		            margin-left: 10px;
		        }
			}

		}

	}

}