.single-post.single {

	header#site-header {
		background: @bgGrey;

		nav ul li.menu-item-54 a {
			color: @navHoverColour;
			font-weight: bold;
		}

	}

	.main {
		background: @bgGrey;
		padding: 40px 0;
		@media @md {
			padding: 60px 0;
		}

		.block {
			background: #fff;
			padding: 30px;
			@media @lg {
				padding: 40px;				
			}

			.meta {
				margin-bottom: 20px;
				@media @sm {
				margin-bottom: 40px;					
				}
				
				p {
					font-size: 13px;
					line-height: 22px;
					margin: 0;
					@media @sm {
						font-size: 14px;
					}

					span {
						margin: 0 5px;
					}

					a {
						color: @default--primary-colour;

						&:hover {
							color: @bodyColour;
						}

					}

				}

			}
		
			p, li {
				font-size: 14px;
				line-height: 24px;
				@media @sm {
					font-size: 16px;
					line-height: 28px;
				}
			}

			h2 {
				font-size: 26px;
				line-height: 40px;
				margin: 0 0 30px;
			}

			h3 {
				font-size: 24px;
				line-height: 36px;
				margin: 0 0 20px;
			}

			h4 {
				font-size: 20px;
				line-height: 30px;
				margin: 0 0 20px;
			}

			h5 {
				font-size: 18px;
				line-height: 24px;
				margin: 0 0 20px;
			}

			h6 {
				font-size: 16px;
				line-height: 26px;
				text-transform: uppercase;
				margin: 0 0 20px;
			}

			ul, ol {
				margin: 0 0 30px;

				li {
					margin: 0 0 10px;
				}

			}

			hr {
				border-color: @default--primary-colour;
				margin: 0 0 20px;
			}

			.size-full {
				display: block;
				height: auto;
				max-width: 100%;
			}

			img.alignright {
				margin: 20px auto;
				@media @sm {
					float: right;
					margin: 0;
					padding: 20px 0 20px 20px;
				}
			}

			img.alignleft {
				margin: 20px auto;
				@media @sm {
					float: left;
					margin: 0;
					padding: 20px 20px 20px 0;
				}
			}

			img.aligncenter {
				margin: 20px auto;
			}

			a {
				color: @default--primary-colour;

				&:hover {
					color: @bodyColour;
				}

			}

		}
	
		.notes {
			margin-top: 40px;

			a {
				color: @default--primary-colour;

				&:hover {
					color: @bodyColour;
				}

			}

		}

		.social-share {
			@media @sm {
				margin: 40px 0 0;
			}
		}

		.navigation {
			&:extend(.blog .navigation all);
			margin-top: 50px;
			@media @md {
				margin-top: 100px;
			}

			div {

				a {
					padding: 0 25px;
					@media @sm {
						padding: 0 15px;
						width: 145px;
		
					}
					@media @md {
						padding: 0 12px;
						width: 195px;
					}

				}

			}

		}

	}

	aside {

		.inner {
			background: #333;
			color: #fff;
			padding: 30px;
			@media @lg {
				padding: 40px;				
			}
		}

		h3 {
			font-size: 30px;
			line-height: 1;
			margin-bottom: 30px;
			@media @sm {
				font-size: 26px;
			}
			@media @lg {
				font-size: 30px;
			}
		}

		.article {
			margin-bottom: 25px;
			position: relative;
			padding-left: 80px;
			@media @sm {
				padding-left: 0;
			}
			@media @lg {
				padding-left: 80px;
			}
			
			img {
				.border-radius(50%);
				display: block;
				height: auto;
				width: 60px;
				position: absolute;
				top: 0;
				left: 0;
				@media @sm {
					display: none; 	
				}				
				@media @lg {
					display: block;
				}
			}

			p {
				font-size: 17px;
				line-height: 24px;
				@media @sm {
					font-size: 15px;
					line-height: 22px;
				}
				@media @lg {
					font-size: 17px;
					line-height: 24px;					
				}

				.date {
					display: block;
					font-size: 13px;
					line-height: 1;
					padding: 12px 0 7px;
					@media @sm {
						padding-top: 0;
					}
					@media @lg {
						padding-top: 12px;
					}
				}

				a {
					color: #fff;

					&:hover  {
						color: @default--primary-colour;
					}

				}

			}

		}

		.categories-list {
			&:extend(.unstyled all);
			margin-top: 75px;
			@media @sm {
				margin-top: 50px;
			}
			@media @lg {
				margin-top: 100px;	
			}

			ul {
				&:extend(.unstyled all);

				li {
					font-size: 20px;
					line-height: 1;
					margin-bottom: 15px;
					@media @sm {
						font-size: 18px;
					}
					@media @lg {
						font-size: 20px;						
					}

					a {
						color: @default--primary-colour;

						&:hover {
							color: #fff;
						}

					}

				}

			}

		}

	}

}
