body.page-template-team {

	.team-member-wrap {
		margin-top: 30px;
		@media @md {
			margin-top: 100px;
		}
		@media @lg {
			margin-top: 150px;
		}

		.team-member {
			margin-bottom: 30px;
			position: relative;
			@media @md {
				margin-bottom: 90px;
			}
			@media @lg {
				padding-left: 30px;
			}
			@media @xlg {
				margin-bottom: 90px;
			}

			&:last-child {
				margin-bottom: 0;
			};

			.bio {
				background: #333;
				color: #fff;
				padding: 40px 30px;
				position: relative;
				z-index: 3;
				@media @md {
					float: left;
					min-height: 440px;
					padding: 60px 30px;
					width: 540px;
				}
				@media @lg {
					// min-height: 340px;
					min-height: 450px;
					width: 700px;
				}
				@media @xlg {
					// min-height: 380px;
					min-height: 420px;
					width: 860px;
				}

				h2 {
					font-size: 22px;
					line-height: 30px;
					@media @lg {
						font-size: 28px;
						line-height: 38px;
					}
				}

				hr {
					border-color: @default--primary-colour;
					border-width: 2px;
					margin: 25px 0;
					@media @lg {
						margin: 30px 0;
					}
				}

				p {
					font-size: 16px;
					line-height: 26px;
					margin: 0;
					@media @lg {
						font-size: 18px;
						line-height: 30px;
					}

					&.role {
						font-family: @museo;
						@media @lg {
							font-size: 20px;
							line-height: 1;
						}
					}

				}

			}

			.img {
				background-position: 50% 50%;
				background-repeat: no-repeat;
				background-size: cover;
				display: block;
				height: 0;
				padding-bottom: 75%;
				z-index: 2;
				@media @sm {
					padding-bottom: 50%;
				}
				@media @md {
					bottom: 0;
					height: 370px;
					top: auto;
					padding: 0;
					position: absolute;
					right: 0;
					width: 540px;
				}
				@media @lg {
					height: 380px;
					top: auto;
					width: 640px;
				}
				@media @xlg {
					// height: 440px;
					// width: 780px;
					height: 460px;
					width: 815px;
				}
			}

		}

		.key-personnel {
			padding-top: 20px;
			@media @sm {
				padding-top: 30px;
			}
			@media @md {
				padding-top: 0;
			}

			hr {
				border-color: #fff;
				margin: 20px 0 35px;
				@media @sm {
					margin: 20px 0 40px;
				}
				@media @md {
					margin: 25px 0 50px;
				}
				@media @lg {
					margin: 30px 0 100px 30px;
				}
			}

			> h2 {
				color: @default--primary-colour;
				font-size: 22px;
				line-height: 1;
				margin: 0;
				@media @sm {
					font-size: 30px;
				}
				@media @md {
				}
				@media @lg {
					margin-left: 30px;
				}
			}

		}

	}
		
}