body.page-template-vacancies {

	.vacancy-filter {
		border-top: 1px solid @mediumGrey;
		margin: 25px 0 0;
		padding: 25px 0 0;

		h3 {			
			line-height: 1;			
			@media @sm {
				float: left;	
				margin: 0 25px 0 0 !important;
			}
		}

		.radio {
			margin-bottom: 10px;
			@media @sm {
				float: left;
				margin-right: 30px;
			}
		}

	}

	.table {
		background-color: transparent;
	    max-width: 100%;
	    margin: 20px 0 0;
		width: 100%;
		@media @lg {
			margin: 20px 0;
		}

		tbody, tr {
			display: block;
			float: left;
			width: 100%;
			@media @lg {
				float: none;
				width: auto;
			}
		}

		thead {
			display: none;
			@media @lg {
			    display: table-header-group;
			}
		}

		tbody {
			@media @lg {
			    display: table-row-group;
			}
		}

		tr {
			border-top: 1px solid #e9ecef;
		    width: 100%;
			@media @lg {
				border: none;
				display: table-row;
			}
		}

		th, td {
		    text-align: left;
			vertical-align: top;
			@media @sm {
				padding: 15px 0;
			}
			@media @md {
				padding: 15px 15px 15px 0;
			}
			@media @lg {
				padding: 15px 10px;
			}
		}

		th {
			border-top: 1px solid #e9ecef;
			font-size: 13px;
    		line-height: 1;
    		text-transform: uppercase;
		}

		td {
			display: block;
			width: 100%;
			font-size: 16px;
    		line-height: 24px;
    		padding: 15px 0 0;
    		@media @sm {
    			display: block;
    			font-size: 14px;
    			float: left;
    			line-height: 20px;
	    		width: 20%;
	    	}
		    @media @lg {
		    	border-top: 1px solid #e9ecef;
		    	display: table-cell;
		    	float: none;
		    	width: auto;
		    }
		    @media @xlg {
		    	font-size: 18px;
    			line-height: 26px;
		    }

		    &:last-child {
		    	padding-bottom: 20px;
		    }

		    &.position {
		    	@media @sm {
		    		display: block;
		    		padding: 10px 0 5px;
		    		width: 100%;
		    	}
		    	@media @lg {
		    		padding: 15px 10px;
		    	}
		    }

		}

		.position a {
			display: inline-block;
			font-size: 20px;
			line-height: 24px;
			margin-top: 10px;
			@media @lg {
				font-size: 14px;
    			line-height: 20px;
				margin-top: 0;
			}
			@media @xlg {
				font-size: 18px;
    			line-height: 26px;
			}
		}

		.mobile-label {
			font-weight: bold;
			display: block;
			@media @lg {
				display: none;
			}
		}

	}

}


body.page-template-vacancies,
body.page-template-vacancies-apply {

	.sub-page-nav {
	
		.desktop-nav {

			ul {

				li {
					&:nth-child(3) {
						
						a {
							&:extend(.sub-page-nav .desktop-nav ul li.current a all);
						}

					}

				}

			}

		}

	}
	
	.main {

		.block {
			a {
				color: @default--primary-colour;

				&:hover {
					color: @bodyColour;
				}

			}

		}

		.block.form-wrap {
			margin-top: 30px;
			@media @md {
				margin: 75px 0 0;
			}
			@media @lg {
				margin: 100px 0 0;
			}
			@media @xlg {
				margin: 160px 0 50px;
			}

			.form {
				background: #221f20;
				padding: 30px 20px;
				@media @md {
					padding: 40px 500px 50px 45px;
					width: 880px;
				}
				@media @lg {
					padding-right: 435px;
				}
				@media @xlg {
					min-height: 915px;
					padding-right: 300px;
				}
				@media @full {
					padding-right: 200px;	
				}

				.file-upload {
					color: @default--primary-colour;
					float: left;
					width: 100%;
					.ginput_container_fileupload span {
						display: none;
					}

					.gform_delete {
						cursor: pointer;
						margin: 0 5px 0 0;
					    position: relative;
					    top: 2px;
					    @media @sm {
					    	margin-left: 26px;
						}
						@media @md {
					    	margin-left: 0;
						}
					    @media @full {
					    	margin-left: 26px;
					    }
				   	}

				   	.ginput_preview {
					    	color: @default--primary-colour;
							display: block;
							font-size: 18px;
							margin: 0 0 10px;
					}

					label {
						background: @default--primary-colour;
						color: #fff;
						cursor: pointer;
						height: 60px;
						line-height: 60px;
						padding: 0 20px;
						text-transform: uppercase;						
						@media @sm {
							float: left;
							width: 150px;
						}
						@media @md {
							float: none;
							width: auto;
						}
						@media @full {
							float: left;
							width: 150px;
						}

						&:after {
					        &:extend(.icon);
					        &:extend(.icon.arrow-right-white);
					        content: '';
					        margin-left: 17px;
					        top: -1px;
					        @media @sm {
					        	top: 1px;
					        }
					    }

					    &:hover {
					    	background: #fff;
					    	color: @default--primary-colour;

					    	&:after {
						        &:extend(.icon.arrow-right-purple);
					       }

					    }

					}

					input {
						width: 0.1px;
						height: 0.1px;
						opacity: 0;
						overflow: hidden;
						position: absolute;
						z-index: -1;
					}
					
					.gfield_description {
						color: #fff;
						font-size: 13px;
						padding: 5px 0 0;
						@media @sm {
							float: left;
							padding: 5px 0 15px 30px;
							width: 530px;
						}		
						@media @md {
							float: none;
							padding: 5px 0;
							width: auto;
						}
						@media @full {
							float: left;
							padding: 5px 0 15px 30px;
							width: 485px;
						}

						.filename {
							color: @default--primary-colour;
							display: block;
							font-size: 18px;
							margin: 0 0 10px;
						}

						&.validation_message {
							// display: none !important;
							color: @error;
							display: block;
							font-size: 14px;
							padding: 0;
							margin: 10px 0 0;
							width: 100% !important;
						}

					}

				}

				li#field_1_8.file-upload {

					label {
						@media @sm {
							width: 270px;
						}
						@media @md {
							width: auto;
						}
						@media @full {
							width: 270px;
						}
					}

					.gfield_description {
						@media @sm {
							width: 410px;
						}		
						@media @md {
							width: auto;
						}
						@media @lg {
							//width: 130px;
						}
						@media @full {
							width: 365px;
						}
					}


				}

				label {
					color: #fff;
					font-size: 16px;
				}

				textarea.form-control {
					height: 150px;
					@media @lg {
						height: 170px;
					}
					@media @xlg {
						height: 210px;
					}					
				}

				.validation_message {
					color: @error;
					display: block;
					font-size: 14px;
					margin: 10px 0 0;
				}
				
			}

			.img {
				margin: 20px 0;
				@media @md {
					margin: 0;
					height: 350px;
					width: 520px;
				}
				@media @lg {
					height: 460px;
					width: 710px;
				}
				@media @xlg {
					height: 510px;
					width: 780px;
				}
			}

			.imgtop {
				bottom: auto !important;
			}

			.imgbottom {
				margin-bottom: 0;
				top: auto !important;
				@media @md {
					bottom: auto;
					top: 350px !important;
				}
				@media @lg {
					top: 450px !important;
					// bottom: -40px;
					// top: auto !important;
				}
				@media @xlg {
					top: 475px !important;
					// bottom: -70px;
				}
			}

		}

	}
	
}


body.single-vacancies {

	header#site-header {

		nav ul li.menu-item-50 > a {
			color: @navHoverColour;
			font-weight: bold;
		}

	}

	.main .block .content .inner {

		.overview {
			&:extend(.unstyled all);
			background: @default--primary-colour;
			color: #fff;
			font-size: 0;
			margin: 0 0 30px;
			padding: 20px;
			@media @md {
				padding: 20px 30px;
			}

			li {
				font-size: 15px;
				line-height: 20px;
				margin: 10px 0;
				padding: 0 0 0 20px;
				display: inline-block;
				vertical-align: top;
				width: 100%;
				@media @sm {
					margin: 20px 0;
					padding: 0 20px 0 20px;
					width: 33.333333%;
				}
				@media @md {
					font-size: 17px;
					line-height: 22px;
				}
				@media @lg {
					width: 20%;
				}

				&:before {
					background: #fff;
					top: 4px;
				}

				.label {
					display: block;
					font-style: 13px;
					font-weight: bold;					
					line-height: 1;					
					margin-bottom: 5px;
					text-transform: uppercase;
					@media @md {
						font-style: 15px;
					}
				}

			}

		}

		 .btn {
		 	background: @default--button-bg;
		 	border: none;
	        color: @default--button-colour;

	        &:after {
	            &:extend(.icon.arrow-right-white);
	        }

	        &:hover {
	            background: @bodyColour;
            	color: #fff;

	            &:after {
		            &:extend(.icon.arrow-right-white);
		        }

	        }

		 }

	 }

}


body.page-template-vacancies-apply {

	header#site-header {

		nav ul li.menu-item-50 > a {
			color: @navHoverColour;
			font-weight: bold;
		}

	}

	// .gform_wrapper .gfield.position {
	 	// display: none !important;
	 // }

}