#features {
	overflow: hidden;
	position: relative;

	.container {
		background-position: 100% 0;
		background-repeat: no-repeat;
		padding-top: 40px;
		padding-bottom: 40px;		
		@media @lg {
			padding-top: 90px;
			padding-bottom: 90px;
		}
	}

	.img {
		display: none;
		@media @lg {
			background-position: 0 0;
			background-repeat: no-repeat;
			background-size: cover;
			display: block;
			height: 100%;
			position: absolute;
			left: 68%;
			width: 50%;
		}
		@media @xlg {
			left: 58%;
		}
		@media @full {
			left: 55%;
		}
	}

	ul {
		&:extend(.inline all);
		padding: 0 50px;
		@media @sm {
			margin: 0 -20px;
			padding: 0;
		}
		@media @lg {
			margin: 0;
			width: 795px;
		}

		li {
			color: #fff;
			display: inline-block;
			margin: 0;
			position: relative;
			vertical-align: top;
			width: 100%;
			@media @sm {
				padding: 0 20px;
				width: 33.333333%;
			}
			@media @lg {
				margin: 0 120px 0 0;
				padding: 0;
				width: 185px;
			}

			&:last-child:after {
				display: none;					
			}

			&:after {
				border-bottom-width: 3px;
				border-bottom-style: dotted;
				content: '';
				display: block;
				margin: 30px 0;
				@media @sm {
					display: none;
				}				
			}

			&:nth-child(3n) {
				margin-right: 0;
			}

			&:nth-child(-n+3) {

				&:after {
					@media @sm {
						display: block;
						margin: 35px 0 20px;
						width: 125px;
					}				
				}

			}

			h3 {
				font-family: @proxima;
				font-size: 13px;
				line-height: 16px;
				letter-spacing: .1em;
				margin-bottom: 12px;
				text-transform: uppercase;
			}

			p {
				margin: 0;
			}

			img {
				display: block;
				height: auto;
				margin-bottom: 15px;
				max-width: 100%;					
			}

		}

	}

}