body.page-template-brands-landing {

	header#site-header {
		background: @bgGrey;
	}

	.container-fluid {
		padding: 0;
	}

	.main {
		background: @bgGrey;
		padding-bottom: 0;
		@media @md {
			padding-bottom: 20px;
		}
	}

	.panel {
		position: relative;

		.content {
			background: #85888a;
			color: #fff;
			padding: 30px;
			position: relative;
			z-index: 2;			
			@media @sm {
				padding: 35px;
			}
			@media @md {
				float: left;
				width: 50%;
			}
			@media @lg {
				width: 600px;	
			}
			@media @xlg {
				margin-top: 40px;
				width: 710px;
			}

			h2 {
				border-bottom: 2px solid @default--primary-colour;
				display: block;
				font-size: 26px;
				line-height: 36px;
				margin: 0 0 25px;
				padding-bottom: 20px;
				@media @sm {
					font-size: 30px;
					line-height: 40px;
				}
			}

			p, ul li {
				font-size: 16px;
				line-height: 24px;
				margin-bottom: 30px;
				@media @md {
					font-size: 19px;
					line-height: 28px;
				}

				a {
					color: #fff;

					&:hover,
					&:active {
						color: @default--primary-colour;
					}

				}

			}

			ul {
				&:extend(.unstyled all);
				margin: 15px 0 15px 15px;
				@media @md {
					margin: 20px 0 20px 30px;
				}

				li {
					margin-bottom: 5px;
					position: relative;
					padding-left: 20px;

					&:before {
						background: @default--primary-colour;
						content: '';
						height: 6px;
						position: absolute;
						top: 8px;
						left: 0;
						width: 6px;
						@media @sm {
							top: 11px;
						}
					}

				}

			}

		}

		.img {
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-size: cover;
			height: 0;
			padding-bottom: 75%;
			z-index: 1;
			@media @sm {
				padding-bottom: 50%;
			}
			@media @md {
				bottom: 0;
				height: 550px;
				padding: 0;
				position: absolute;
				right: 0;
				width: 800px;
			}
			@media @xlg {
				height: 630px;
				width: 850px;
			}
		}

	}



	.sub-page-nav  {

		.mobile-nav {
			
			ul {

				li {

					a {
						height: 70px;
					    line-height: 1.4;
					    padding-top: 14px;
					}

				}

			}

		}

		.desktop-nav  {

			ul {

				 li {

				 	a {
				 		padding-top: 22px;
				 		@media @full {
				 			padding-top: 30px;
				 		}

				 		span {
				 			font-size: 13px;
				 		}

				 	}

			 	}

		 	}

		}

	}

}