.main {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #f4f4f4;
	padding: 40px 0;
	@media @md {
		padding: 60px 0;
	}
	@media @lg {
		padding: 100px 0 180px;
	}
	
	.block {
		margin-bottom: 30px;
		position: relative;
		@media @sm {
			margin-bottom: 50px;
		}
		@media @md {
			margin-bottom: 100px;
		}
		@media @lg {
			margin-bottom: 225px;
		}
		@media @xlg {
			margin-bottom: 320px;
		}

		&:last-child {
			margin-bottom: 0;
		}

		&.full {
			margin: 0;
			
			.content {
				padding: 30px;
				position: relative;
				z-index: 3;
				width: 100% !important;
				@media @sm {
					padding: 35px;
				}
			}
			
		}

		.bg {			
			display: none;
			@media @lg {
				display: block;
				bottom: -50px;
				height: 300px;
				position: absolute;
				right: 0;
				z-index: 1;
				width: 1090px;
			}
			@media @xlg {
				bottom: -120px;
				height: 430px;
				width: 1420px;
			}
		}
		
		.content {
			background: #fff;
			padding: 30px;
			position: relative;
			z-index: 2;
			@media @sm {
				padding: 40px;
			}
			@media @md {
				padding: 50px;
			}
			@media @lg {
				float: left;
				padding: 50px 80px;
				width: 1009px;
			}
			@media @xlg {
				width: 1245px;
			}

			.inner {
				@media @md {
					width: 310px;
				}
				@media @xlg {
					width: 395px;
				}

				h2 {
					font-size: 26px;
					line-height: 36px;
					@media @sm {
						font-size: 30px;
					}
					@media @lg {
						margin-top: 20px;
					}
				}

				h3 {
					font-size: 18px;
					line-height: 22px;
					margin-bottom: 15px;
					@media @sm {
						margin-bottom: 20px;						
					}
				}

				li {
					font-size: 13px;
					line-height: 26px;
					margin: 0 0 20px;
				}

				hr {
					border-color: #ccc;
					margin: 20px 0;
					@media @sm {
						margin: 30px 0 20px;
					}
				}

				.btn {
					&:extend(.btn.btn-outline all);
					margin-top: 25px;
				}

			}

		}

		.img {
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-size: cover;
			display: block;
			height: 0;
			padding-bottom: 75%;
			z-index: 3;
			@media @sm {
				padding-bottom: 50%;
			}
			@media @md {
				bottom: -100px;
				height: auto;
				max-height: 365px;
				padding: 0;
				position: absolute;
				right: -20px;
				top: 50px;
				width: 550px;
			}
			@media @lg {
				max-height: 465px;
				right: 60px;
				top: 70px;
				width: 700px;
			}
			@media @xlg {
				max-height: 530px;
				right: 85px;
				width: 805px;
			}
			@media @full {
				max-height: 590px;
				right: 85px;
				width: 890px;
			}
		}

		&.alt {

			.bg {
				@media @lg {
					bottom: auto;
					left: 0;
					right: auto;
					top: -90px;
				}
				@media @xlg {
					top: -120px;
				}
			}

			.content {
				@media @lg {
					float: right;
				}

				.inner {
					@media @md {
						float: right;
					}
				}

			}

			.img {
				@media @md {
					bottom: -100px;
					height: auto;
					max-height: 365px;
					left: -20px;
					right: auto;
					top: -20px;
					width: 550px;
				}
				@media @lg {
					max-height: 465px;
					left: 60px;
					top: -50px;
					width: 700px;
				}
				@media @xlg {
					max-height: 530px;
					left: 85px;
					top: -70px;					
					width: 805px;
				}
				@media @full {
					max-height: 590px;
					left: 85px;
					top: -70px;					
					width: 890px;
				}
			}

		}

	}

}