// Panel

.panel-wrap {
	background-color: #f4f4f4;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	padding: 40px 0;
	@media @lg {
		padding: 80px 0;
	}

	.container {
		position: relative;
	}

	.img1, 
	.img2 {
		display: none;
		@media @md {
			display: block;
			position: absolute;
		}
		@media @lg {
			
		}
	}

	.img1 {
		left: -95px;
		top: 200px;
	}

	.img2 {
		right: -25px;
		top: 230px;
	}

	.panel {			
		position: relative;

		.content {
			padding: 30px;
			@media @md {
				float: left;
				padding: 40px;
				width: 400px;
			}
			@media @lg {
				padding: 60px 80px 80px 80px;
				width: 500px;
			}
			@media @xlg {
				padding: 80px 140px 100px 140px;
				width: 730px;	
			}

			h2 {
				font-size: 24px;
				line-height: 1;
			}

			hr {
				border-color: #fff;
				margin: 25px 0;
			}

			p {
				font-family: @museo;
				font-size: 16px;
				line-height: 28px;
				margin-bottom: 15px;
				@media @lg {
					font-size: 18px;
					line-height: 30px;
					margin-bottom: 25px;
				}
			}

			.btn {
				background: none;
				border-color: rgba(255,255,255,.55);
				color: #fff;
				margin-top: 10px;
				width: 200px;

				&:after {
		            &:extend(.icon.arrow-right-white);
		        }

		        &:hover {
		        	border-color: #fff;
		        }

			}

		}

		.img {
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-size: cover;				
			height: 200px;
			@media @md {
				bottom: 0;
				height: auto;
				position: absolute;
				right: 0;
				top: 0;
				width: 540px;
			}
			@media @lg {
				width: 700px;
			}
			@media @xlg {
				width: 770px;	
			}
		}

	}

}

// Panel (Alt)

.panel-wrap-alt {
	background-color: #f4f4f4;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	@media @sm {
		padding: 40px 0;
	}
	@media @md {
		padding: 80px 0;
	}

	.panel {
		.box-shadow(0 0 20px 1px rgba(0,0,0,.1));
		margin-left: -15px;
		margin-right: -15px;
		position: relative;
		@media @sm {
			margin: 0;
		}

		.content {
			display: block;
			padding: 30px;
			@media @md {
				height: 425px;
				padding: 60px 60px 0;
				position: absolute;
				right: 0;
				top: 55px;
				width: 400px;
			}
			@media @lg {
				height: 545px;
				padding: 110px 60px 0;
				top: 55px;
				width: 485px;
			}

			h2 {
				font-size: 24px;
			}

			hr {
				margin: 25px 0;
			}

			p {

				a {
					font-style: 13px;
					text-transform: uppercase;

					.icon {
						margin-left: 10px;
						top: 2px;
					}

				}

				&.more {
					margin-top: 50px;
				}

			}

		}

		.img {
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-size: cover;
			display: block;				
			height: 200px;
			@media @md {
				float: left;
				height: 480px;
				width: 540px;
			}
			@media @lg {
				height: 600px;
				width: 1175px;
			}
		}

	}

}