// What our customers say

#customer-testimonial-wrap {
	background-color: #000;
	background-position: 50% 100%;
	background-repeat: no-repeat;
	padding: 40px 0;
	position: relative;
	@media @sm {
		background-position: 30% 0;
	}
	@media @lg {		
		padding: 70px 0 110px; 
	}
	@media @xlg {
		background-position: 50% 0;
	}

	&:before {
		background: rgba(0,0,0,.5);
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		@media @lg {
			background: rgba(0,0,0,.3);
			// display: none;
		}		
	}

	&:after {
		background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 50%);
		background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 50%);
		background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 50%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
		bottom: 0;
		display: block;
		content: '';
		height: 125px;
		position: absolute;
		width: 100%;
	}

	.other-pages {
		background: #fff;
		margin-bottom: 30px;
		padding: 30px 15px;
		position: relative;
		z-index: 2;
		@media @md {
			padding: 60px 25px 40px;
		}
		@media @lg {
			margin-bottom: 45px;
			padding: 60px 40px 100px;				
		}

		div[class*="col-"] {
			margin-bottom: 60px;
			@media @lg {
				margin-bottom: 0;
			}
		}

		h2 {
			font-size: 26px;
			line-height: 1;
			margin-bottom: 20px;
			text-align: center;
			@media @md {
				margin-bottom: 	30px;
			}
		}

		.inner {
			background-position: 50% 0;
			background-repeat: no-repeat;
			background-size: cover;
			position: relative;
			display: block;
			height: 230px;
			@media @md {
				background-position: 50% 50%;
				height: 270px;
			}

			.details {
				.box-shadow(0 0 20px 1px rgba(0,0,0,.1));
				background: #fff;
				bottom: -40px;
				display: block;
				left: 10px;
				padding: 20px;
				position: absolute;
				right: 10px;			
				text-align: center;						
				@media @lg {
					left: 20px;
					padding: 25px 20px;
					right: 20px;
				}
				@media @xlg {
					padding: 25px 20px;
				}

				h3 {
					font-size: 16px;

					&:after {
						background: #949494;
						content: '';
						height: 2px;
						display: block;
						margin: 10px auto;
						width: 30px;
					}

				}

				p {
					font-size: 14px;
					line-height: 22px;
					margin: 0 0 10px;
				}

				a {
					color: #949494;
					display: inline-block;
					font-size: 14px;

					&:hover {
						color: @bodyColour;
					}

				}

			}

		}

	}

	

	.testimonial {
		border-top: 1px solid rgba(255,255,255,.55);;
		border-bottom: 1px solid rgba(255,255,255,.55);;
		color: #fff;
		padding: 40px 20px;
		position: relative;
		z-index: 2;
		@media @md {
			padding: 60px 20px 40px;
		}
		@media @lg {
			padding: 75px 75px 40px 0;
		}

		.col-right {
			@media @sm {
				float: right;
				width: 60%;
			}
			@media @lg {
				width: 575px;
			}

			.owl-carousel .owl-stage-outer {
			}

			.owl-carousel {				
			}

			.owl-item {
			}

			.slide {
				display: block;
			}

			h3 {
				font-size: 15px;
				line-height: 1;
				margin-bottom: 25px;
				// margin-bottom: 25px;
				@media @sm {
					float: left;
				}

				&:before {
					display: none;
					@media @sm {
						background: rgba(255,255,255,.55);
						display: inline-block;
						height: 1px;
						margin-right: 20px;
						top: -5px;
						width: 45px;
					}
				}

			}

			.custom-owl-nav {
				@media @sm {
					float: right;
					margin: -18px 0 0;
				}
				@media @md {
					margin-top: -20px;
				}
				// margin: 0 0 20px;
				// text-align: center;

				span {
					display: inline-block;

					&.prev {
						margin-right: 10px;
						@media @sm {
							margin-right: 20px;
						}
					}

				}

			}

			.owl-carousel {
				margin-top: 10px;
			}

			.quote {
				padding: 20px 0;
				@media @md {
					padding: 20px 70px;
				}
				@media @lg {
					padding: 20px 60px;
				}

				p {
					font-family: @museo;
					font-weight: 700;
					// font-size: 28px;
					// line-height: 38px;
					margin: 0 0 20px;
					position: relative;
					@media @lg {
						font-size: 18px;
						line-height: 28px;
						// font-size: 50px;
						// line-height: 60px;
					}				

					&:first-child:before {
						@media @md {
							background: url('/wp-content/themes/abm-catering/img/quote-marks.png') 0 0 no-repeat;
							background-size: 84px 34px;
							background-repeat: no-repeat;
							color: #fff;
							content: '';
							display: block;
							height: 34px;						
							left: -65px;						
							position: absolute;
							top: -10px;
							z-index: -1;
							width: 42px;
						}
						@media @lg {
							left: -60px;
						}
					}

					&:last-of-type:after {
						@media @md {
							background: url('/wp-content/themes/abm-catering/img/quote-marks.png') -42px 0 no-repeat;
							background-size: 84px 34px;
							background-repeat: no-repeat;
							bottom: -25px;
							color: #fff;
							content: '';							
							display: block;
							height: 34px;
							position: absolute;
							right: 0;
							z-index: -1;
							width: 42px;
						}
						@media @lg {
							right: -40px;
						}
					}

				}

				.cite {
					display: block;
					font-size: 14px;
					line-height: 28px;
					margin-top: 30px;
					padding-left: 40px;
					position: relative;
					@media @lg {
						padding-left: 65px;
					}

					&:before {
						background: rgba(255,255,255,.55);
						content: '';
						float: left;
						height: 1px;
						left: 0;
						position: absolute;
						top: 21px;
						top: 13px;
						width: 25px;
						@media @lg {
							width: 45px;
						}
					}

					&:after {
						display: none !important;
					}

				}

			}

			.btn {
				background: none;
				border-color: rgba(255,255,255,.55);
				color: #fff;
				margin-top: 10px;
				width: 200px;

				&:after {
		            &:extend(.icon.arrow-right-white);
		        }

		        &:hover {
		        	border-color: #fff;
		        }

			}

		}

	}

}