body.page-template-brand-thankyou {

	.main {
		padding: 40px 0;
		@media @md {
			padding: 100px 0;
		}
		@media @lg {
			padding: 140px 0;
		}	

		.block .inner {
			width: 100% !important;

			h2 {
				// color: @default--primary-colour;
				font-size: 26px;
				line-height: 36px;
				margin: 0 0 20px;
				@media @sm {
					font-size: 30px;
					line-height: 40px;
				}
				@media @lg {
					
				}
			}

			p, ul li {
				font-size: 16px;
				line-height: 24px;
				margin-bottom: 30px;
				@media @md {
					font-size: 19px;
					line-height: 28px;
				}
			}

		}

	}

}