#brands {
	background: @bgGrey;
	padding: 0 0 20px;
	position: relative;
	@media @sm {
		padding-bottom: 40px;
	}

	&:after {
		@media @md {
			background: #585bb0;
			bottom: 50px;
			content: '';
			display: block;
			position: absolute;
			right: 0;
			top: 120px;
			width: 5px;
		}
	}

	h2 {
		color: @default--primary-colour;
		font-size: 30px;			
		line-height: 1;
		margin: 40px 0 30px;
		@media @sm {
			height: 120px;	
			margin: 0;
			padding: 60px 0 0;
		}
	}

	.brand-banner {
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
		color: #fff;
		display: block;
		margin-bottom: 10px;
		overflow: hidden;
		padding: 20px;
		position: relative;
		@media @sm {
			height: 175px;
			padding: 75px 30px 0 30px;
		}
		@media @lg {
			height: 235px;
			padding: 140px 70px 0 80px;
		}

		&:before {
			.transition;
			.opacity(50);
			background: rgba(0,0,0,.7);
			bottom: 0;
			content: '';
			display: block;
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
		}

		&:hover {
			
			&:before {
				.opacity(0);
			}

			p {

			}

		}

		h3 {
			display: block;
			font-size: 24px;
			line-height: 1;
			position: relative;
			z-index: 1;

			&:after {
				background: rgba(255,255,255,.3);
				content: '';
				display: block;
				height: 1px;
				margin: 15px 0;
				width: 100%;
			}
			
		}

		p {
			font-size: 11px;
			line-height: 1;
			letter-spacing: (.05em);			
			position: relative;
			text-transform: uppercase;
			z-index: 1;

			.icon {
		        display: inline-block;			        
		        margin-left: 12px;
		        top: 2px;
			}

		}

		.logo {
			display: block;
			height: auto;
			margin: 0 auto 30px;
			max-width: 100%;
			position: relative;
			z-index: 2;
			@media @sm {
				height: 100%;					
				margin: 0;
				position: absolute;
				right: 0;
				top: 0;
				width: auto;
			}

		}

	}

}