.btn {
	.transition;
    background: none;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    height: 55px;
    line-height: 1;
    margin: 0;
    max-width: 100%;
    padding: 22px 30px 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;

    &:after {
        &:extend(.icon);
        &:extend(.icon.arrow-right-white);
        content: '';
        display: block;
        float: right;
        margin-left: 12px;
        top: 0;
    }

    &:hover {

        &:after {
            &:extend(.icon.arrow-right-purple);
        }
    }

    &.btn-primary {
        background: @default--button-bg;
        color: @default--button-colour;

        &:hover {
            background: @default--button-hover-bg;
            color: @default--button-hover-colour;
        }

    }

    &.btn-secondary {
        background: #fff;
        color: @bodyColour;

        &:after {
            &:extend(.icon);
            &:extend(.icon.arrow-right-dark);
        }

        &:hover {
            background: @bodyColour;
            color: #fff;   

            &:after {
                &:extend(.icon.arrow-right-white);
            }

        }
        
    }

    &.btn-outline {
        background: #fff;
        border: 1px solid #d3d2d2;
        color: @bodyColour;

        &:after {
            &:extend(.icon);
            &:extend(.icon.arrow-right-dark);
        }

        &:hover {
            background: @bodyColour;
            color: #fff;  

            &:after {
                &:extend(.icon.arrow-right-white);
            }

        }

    }

    &.btn-blank {
        border: none;
        padding: 0;
    }

}

// Venue

// Honest

// Essence

// Mint

// Grow