.contact-cta {
	margin-top: 40px;
	position: relative;
	@media @md {
		margin-top: 60px;
		margin-bottom: 20px;
	}

	&:after {
		@media @sm {
			background: #181521;
			content: '';
			display: block;
			height: 2px;
			width: 100%;
			position: absolute;
			top: 50%;
		}
	}

	h2, .btn-wrap {
		position: relative;
		z-index: 1;
	}

	h2 {
		background: #fff;			
		font-size: 24px;
		line-height: 26px;
		margin-bottom: 30px;			
		@media @sm {
			margin-bottom: 0;
			padding-right: 20px;
			float: left;
		}
	}

	.btn-wrap {
		@media @sm {
			background: #fff;
			float: right;
			padding-left: 20px;
		}
	}

	.btn {
		background: #fff !important;
		border-color: @default--primary-colour;
		color: @default--primary-colour;
		font-family: @proxima;
		font-weight: normal;

		&:after {
            &:extend(.icon.arrow-right-purple);
        }

		&:hover {
			border-color: @bodyColour;
			color: @bodyColour;

			&:after {
                &:extend(.icon.arrow-right-dark);
            }

		}

	}

}