.icon {
	background: url('/wp-content/themes/abm-catering/img/icon-sprite.png') 0 0 no-repeat;
	background-size: 200px 200px;
	display: inline-block;
	position: relative;

	&.phone-sml {
		background-position: 0 0;
		height: 19px;
		width: 17px;
	}

	&.email-sml {
		background-position: -17px 0;
		height: 16px;
		width: 22px;
	}

	&.arrow-right-white {
		background-position: -39px 0;
		height: 12px;
		width: 24px;
	}

	&.arrow-left-white {
		background-position: -63px 0;
		height: 12px;
		width: 24px;
	}

	&.arrow-right-purple {
		background-position: -39px -12px;
		height: 12px;
		width: 24px;
	}

	&.arrow-right-dark {
		background-position: -39px -24px;
		height: 12px;
		width: 24px;
	}

	&.arrow-left-dark {
		background-position: -63px -24px;
		height: 12px;
		width: 24px;
	}

	&.arrow-right-green {
		background-position: -39px -36px;
		height: 12px;
		width: 24px;
	}

	&.arrow-right-yellow {
		background-position: -39px -48px;
		height: 12px;
		width: 24px;
	}

	&.arrow-right-blue {
		background-position: -39px -60px;
		height: 12px;
		width: 24px;
	}

	&.arrow-right-white-large {
		background-position: -39px -72px;
		height: 20px;
		width: 38px;
	}

	&.arrow-right-purple-large {
		background-position: -39px -92px;
		height: 20px;
		width: 38px;
	}

	&.arrow-down-dark {
		background-position: 0 -19px;
		height: 24px;
		width: 12px;
	}
	
}