.form-group {
	margin-bottom: 20px;
	position: relative;
}

label {
	display: inline-block;
	font-size: 14px;
	margin-bottom: 10px;
	text-transform: none;

	
	// font-size: 12px;
	// line-height: 1;
	// text-transform: uppercase;

}

.form-control {	
	background-color: #fff;
	background-image: none;
	border: none;
	color: @bodyColour;
	display: block;	
	font-size: 16px;
	height: 50px;
	line-height: 50px;
	padding: 0 10px;
	outline: none !important;
	margin: 0;
	padding: 0 20px;
	width: 100%;
	@media @md {
		height: 65px;
		line-height: 65px;
	}

	&::-webkit-input-placeholder {
		color: @placeholder-colour;
	}

	&::-moz-placeholder {
		color: @placeholder-colour;
	}

	&:-ms-input-placeholder {
		color: @placeholder-colour;
	}

	&:-moz-placeholder {
		color: @placeholder-colour;
	}

}

.radio {
    line-height: 1;
    position: relative;

    &:last-child {
        margin-bottom: 0;
    }

    label {
        display: inline-block;
        line-height: 1;
        margin: 0;
        padding: 5px 0 0 35px;
        position: relative;

	    &:before {
	    	.border-radius(50%);
	        background: #fff;
	        border: 1px solid @bodyColour;
	        color: @bodyColour;
	        content: '';
	        display: block;
	        font-size: 11px;
	        height: 24px;
	        left: 0;
	        padding-top: 4px;
	        position: absolute;
	        text-align: center;
	        text-indent: -.02em;
	        top: 0;
	        width: 24px;
	    }

    }

    // &:nth-child(3).checked label:before {
    // 	text-indent: .05em;
    // }

    &.checked {

        label:before {
        	.fa('\f111');        	
        }

        label {
            
        }

    }

    input {
        .opacity(0);
        position: absolute;
        height: 0;
        width: 0;
    } 

}

textarea.form-control {
	height: 90px;
	font-size: 16px;
	line-height: 1.5;
	padding: 10px;
	resize: none;
	width: 100%;
}

.btn.submit {
	background: @default--primary-colour;
	border: none;
	color: #fff;
	font-size: 18px;
	height: auto;
	line-height: 1;
	outline: none;
	padding: 26px 35px 22px;
	text-align: left;
	width: 100%;
	@media @sm {
		width: 315px;
	}
	@media @md {
		font-size: 22px;
		padding: 36px 45px 32px;
	}

	&:after {
        &:extend(.icon);
        &:extend(.icon.arrow-right-white-large);
        margin-left: 12px;
        top: -1px;
        @media @sm {
        	top: 1px;
        }
    }

    &:hover {
    	background: #fff;
    	color: @default--primary-colour;

    	&:after {
	        &:extend(.icon.arrow-right-purple-large);
       }

    }

}



// Gravity Form

.validation_error,
.gform_ajax_spinner {
	display: none !important;
}

.gform_confirmation_message  {
	color: #fff;
	font-size: 17px;
	line-height: 22px;
}

.gform_wrapper {

	.gform_body {

		.gform_fields {
			&:extend(.unstyled all);
			clear: both;

			.gfield {
				&:extend(.form-group);

			}

			.ginput_container {
				
				input {
					&:extend(.form-control all);
				}

				textarea {
					&:extend(textarea.form-control all);
					border: none;
					color: @bodyColour;
					outline: none;
				}

			}

		}

	}

}