* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	height: 100%;
	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-font-smoothing: antialiased;
}

body {
	background: @bodyBg;
	color: @bodyColour;
	font-family: @primary-font;

	&.noscroll {
		overflow-y: hidden;

		@media @sm {
			overflow-y: auto !important;
		}
		
	}
	
}

.cf:before, .cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

.img-responsive {
	display: block;
	height: auto;
	max-width: 100%;
}

#pageWrap {
	padding-top: 140px;
	@media @sm {
		padding-top: 115px;
	}
}

.visible-mobile {
	@media @sm {
		display: none !important;
	}
}

.visible-desktop {
	display: none !important;
	@media @sm {
		display: block !important;
	}
}

hr {
	border: none;
	border-top: 1px solid @bodyColour;
	margin: 0;
}


.panel img.size-full {
	display: block;
	height: auto;
	max-width: 100%;
}

