#hero {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-color: #000;
	background-size: cover;
	color: #fff;
	height: 150px;
	padding: 0;
	position: relative;
	@media @sm {
		height: 250px;
	}
	@media @lg {
		height: 515px;
	}

	.strip {
		background: rgba(0,0,0,.6);
		bottom: 0;
		padding: 20px 0;
		position: absolute;
		width: 100%;
		@media @sm {
			padding: 30px 0;
		}
		@media @lg {
			padding: 40px 0;
		}
	}

    .container {
    	height: 100%;
    	position: relative;

    	.inner {
    		@media @xlg {
    			top: 530px;
    		}

    		h1 {
    			font-size: 20px;
    			line-height: 28px;
    			margin: 0;
    			@media @sm {
					font-size: 26px;
					line-height: 38px;
				}
				@media @lg {
					font-size: 30px;
				}

    		}

    	}

    }

}