#latest-news {
	background: @bgGrey;
	padding: 40px 0;
	@media @sm {
		padding: 65px 0;
	}

	h2 {
		font-size: 26px;
		line-height: 1;
		margin-bottom: 30px;
		text-align: center;
	}

	.news-wrap {
		@media @md {
			background: #fff;
			margin: 0 auto;
			padding: 60px 40px 40px;
		}
		@media @lg {
			padding: 60px 65px 40px;				
		}
		@media @xlg {
			width: 1470px;
		}
		@media @full {
			width: 1540px;
		}

		article {
			margin-bottom: 20px;
			@media @sm {
				margin-bottom: 0;
			}

			&:nth-child(3) {
				@media @sm {
					display: none;
				}
				@media @lg {
					display: block;
				}
			}
		}

		.inner {
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-size: cover;
			position: relative;
			display: block;
			height: 350px;
			@media @sm {
				height: 300px;
			}
			@media @md {
				background-position: 50% 50%;
				height: 270px;
			}

			.details {
				.box-shadow(0 0 20px 1px rgba(0,0,0,.1));
				background: #fff;
				bottom: 0;
				display: block;
				left: 0;
				padding: 20px 20px 20px 90px;
				position: absolute;
				right: 0;									
				@media @md {		
					bottom: -50px;				
					left: 20px;
					padding: 30px 30px 30px 115px;						
					right: 20px;
				}
				@media @lg {
					padding-left: 135px;
				}

				.date {						
					border-right: 1px solid #eee;						
					text-align: center;						
					bottom: 0;
					left: 0;
					position: absolute;
					top: 0;	
					width: 70px;
					@media @md {					
						width: 85px;
					}
					@media @lg {
						width: 105px;	
					}

					p {
						.vertical-align;
						font-family: @museo;
						font-size: 38px;
						font-weight: 700;
						line-height: 1;							

						span {
							font-size: 16px;
							display: block;
						}

					}

				}

				.desc {

					p {
						font-size: 15px;
						line-height: 22px;
						margin-bottom: 12px;
					
						&.title {
							font-family: @museo;
							font-size: 16px;
							font-weight: 700;
							line-height: 24px;				

							a {
								color: @bodyColour;

								&:hover {
									color: @default--primary-colour;
								}

							}	

						}

					}

					.read-more {
						color: @default--primary-colour;
						font-size: 15px;
						line-height: 22px;

						&:hover {
							color: @bodyColour;
						}

					}

				}

			}

		}

		.more-news {
			margin-top: 30px;
			text-align: center;
			@media @sm {
				margin-top: 50px;
			}
			@media @md {
				margin-top: 95px;
			}

			&:after {
				background: #fff;
				content: '';
				display: block;
				height: 1px;
				position: relative;
				top: -26px;
				width: 100%;
				@media @md {
					background: #d3d2d2;
				}
			}

			.btn-wrap {
				background: @bgGrey;
				display: inline-block;
				padding: 0 20px;
				position: relative;
				z-index: 1;
				@media @md {
					background: #fff;						
				}

				.btn {
					margin: 0;
				}

			}

		}

	}

}

#accreditation-wrap {
	background: @bgGrey;
	padding: 0 0 40px;
}

.accreditation-logos-mobile,
.accreditation-logos-desktop {
	height: auto;
	display: block;
	margin: 30px auto 0;
	width: 100%;
	@media @md {
		margin-top: 50px;
	}
}

.accreditation-logos-mobile {
	@media @md {
		display: none;
	}
}

.accreditation-logos-desktop {
	display: none;		
	@media @md {
		display: block;
	}
}