// Unstyled list

.unstyled {
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		margin: 0;
		padding: 0;
	}
	
}

// Inline list

.inline {
	font-size: 0;
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		display: inline-block;
		font-size: 14px;
		margin: 0;
		padding: 0;
	}
	
}