#making-a-difference {
	background: #86888a;
	color: #fff;
	padding: 40px 0;
	position: relative;
	@media @sm {
		padding: 60px 0;
	}
	@media @md {
		padding: 0;
	}

	&:after {
		@media only screen and (min-width: 1660px) {
			background: @bgGrey;
		    height: 100%;
		    display: block;
		    position: absolute;
		    right: 0;
		    top: 0;
		    width: 50px;
	    }
	}

	h2 {
		font-size: 15px;
		line-height: 1;
		margin-bottom: 15px;

		&:before {
			background: #fff;
			top: -5px;
		}

	}

	h3 {
		font-size: 24px;
	}

	/*p {
	 	margin: 0;
	}*/

	hr {
		border-color: #fff;
		margin: 20px 0;
		@media @sm {
			margin: 30px 0;
		}
	}

	.container {
		position: relative;
	}

	.main-content {			
		@media @md {
			float: left;
			padding: 60px 25px 60px 0;
			width: 500px;
		}
		@media @lg {
			padding: 140px 25px 140px 0;
			width: 700px;
		}
		@media @xlg {
			width: 900px;
		}
		@media @full {
			width: 1000px;
		}

		.features {
			&:extend(.inline all);
			text-align: center;
			margin: 30px 0;
			@media @md {
				margin-bottom: 0;
			}
			@media @lg {
				margin: 0;
			}
			@media @xlg {
				margin-top: 20px;
			}

			li {
				vertical-align: top;
				width: 100%;
				@media @sm {
					padding: 0 20px;
					width: 25%;
				}
				@media @md {
					padding: 0;
					width: 50%;
				}
				@media @lg {
					float: left;
					margin: 0;
					padding: 0 20px;
					width: 25%;
				}
				@media @xlg {
					margin-right: 37px;
					padding: 0;
					width: auto;
				}
				@media @full {
					margin-right: 65px;
				}

				&:last-child {
					margin-right: 0;
				}

				img {
					display: block;
					height: auto;			
					margin: 0 auto 5px;		
					max-width: 100%;
				}

				p {
					font-family: @museo;
					font-weight: 700;
					font-size: 16px;
					line-height: 20px;					
				}

			}

		}

	}
	
	.img {
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;			
		display: block;
		height: 0;
		padding-bottom: 100%;
		position: relative;
		@media @sm {
			padding-bottom: 50%;
		}
		@media @md {
			height: auto;
			bottom: 0;
			padding: 0;
			position: absolute;
			right: 15px;
			top: 0;
			width: 325px;				
		}
		@media @md {
			width: 430px;
		}
		@media @lg {
			width: 500px;
		}

		.btn {
			bottom: 30px;
			height: 70px;
			padding: 30px 50px 0;
			position: absolute;
			right: 0;
			text-align: center;
			@media @sm {
				bottom: 50px;
				padding: 30px 75px 0;
			}
			@media @md {
				bottom: 185px;
			}
		}

	}

}