// Links

a {
	.transition;
	// color: @link-colour;
	text-decoration: none;

	&:hover {
		// color: @link-hover-colour;
	}

	&[href^="tel:"] {
		border: none;
		color: @bodyColour !important;
		cursor: text;
		padding-bottom: 0;
	}

}


// Headings

h1, h2, h3, h4, h5, h6 {
	font-family: @museo;
	font-weight: 700;
	margin: 0;
}

h1, h2 {
	position: relative;

	small {
		color: @default--primary-colour;
		display: block;
		line-height: 1;
		margin-bottom: 25px;

		&:before {
			background: @default--primary-colour;
			content: '';
			display: block;
			float: left;
			height: 2px;
			margin: 0 5px 0 0;
			width: 30px;
		}

	}

}

h1 small:before {
	margin-top: 6px;
}

h2 small:before {
	
}

&.bar {

	&:before {
		content: '';
		display: inline-block;
		height: 2px;
		margin-right: 5px;
		position: relative;
		width: 30px;
	}

}


// Paragraph

p {
	font-size: 13px;
	line-height: 26px;
	margin: 0 0 20px;
}

a:hover,
a:active {
	color: @bodyColour;
}


// Font Styles

strong {

}