// MQ Breakpoints

@sm: ~"only screen and (min-width: 768px)";
@md: ~"only screen and (min-width: 992px)";
@lg: ~"only screen and (min-width: 1250px)";
@xlg: ~"only screen and (min-width: 1520px)";
@full: ~"only screen and (min-width: 1940px)";


// Colours

@yellow: #ffcc00;
@blue: #00a1e4;
@lightGrey: #f8f7f4;
@mediumGrey: #f0efec;
@darkGrey: #ececec;
@abm_blue: #535eb0;
@bgGrey: #c3c6c9;

// Setup

@mobile-grid-padding: 15px;
@desktop-grid-padding: 15px;
@bodyColour: #231f20;
@bodyBg: #fff;

@default--primary-colour: #6955b1;
@default--button-bg: @default--primary-colour;
@default--button-colour: #fff;
@default--button-hover-bg: #fff;
@default--button-hover-colour: @default--primary-colour;


// Typography

@museo: museo-slab, serif;
@proxima: proxima-nova, sans-serif;
@primary-font: @proxima;


// Layout

// @wrap-bg-colour: #fff;


// Links

// @link-colour: @bodyColour;
// @link-hover-colour: @yellow;


// Nav

@navColour: #5e6367;
@navHoverColour: #231f20;


// Form

@placeholder-colour: #7b7979;
@error: #be4444;