// Variables
@essence--primary-colour: #2d5c91;
@essence--button-colour: #fff;
@essence--button-hover-bg: #fff;

body.essence {
	
	// Header
	header#site-header {
		border-top-color: @essence--primary-colour;

		.header-right { background: @essence--primary-colour; }

		nav ul li {

			a:hover { 
				@media @sm {
					color: @essence--primary-colour;
				}
			}

			&.menu-item-65 > a {
				color: @essence--primary-colour;
				font-weight: bold;
			}
			
			&.current-menu-item a,
			&.current-menu-ancestor a,
			&.current-page-ancestor a { color: @essence--primary-colour; }
			
			.sub-menu {
				@media @sm {
					background: #fff;
				}

					 li a {
					 	color: #fff;
					 	@media @sm {
					 		color: @navColour;
					 	}

					 	&:hover {
					 		@media @sm {
								background: @essence--primary-colour;
								color: #fff;
							}
						}

					}
				
			}

			&.current-menu-item,
			&.current-menu-ancestor {

				.sub-menu {

					li.current-menu-item a {
						color: @essence--primary-colour;

						&:hover {
							color: #fff;
						}
						
					}

				}

			}

			.sub-menu li.current-page-ancestor a {
				color: @essence--primary-colour;

				&:hover {
					color: #fff;
				}

			}

		}

	}

	// Sub Page Nav
	.sub-page-nav ul li {

		a:hover {
			background: @essence--primary-colour;
			color: #fff;
		}

		&.current a {
			background: @essence--primary-colour;
			color: #fff;
		}

	}

	// Welcome Slider
	#welcome-slider {

		.slide .content {
			background: @essence--primary-colour;
			color: #fff;

			hr { border-color: #fff; }

			a { color: #fff; }

		}

		.owl-nav button {
			background: #4D4D4D;

			i {
				.opacity(70);
			}

			&.owl-next i {
				background-position: -39px 0;
			}

			&.owl-prev i {
				background-position: -63px 0;		
			}

		}

	}

	// Panel 	
	.panel-wrap .panel .content {
		background: @essence--primary-colour;
		color: #fff;
	}

	// Panel Wrap (Alt)
	.panel-wrap-alt .panel .content {
		background: @essence--primary-colour;
		color: #fff;

		hr { border-color: #fff; }

		a { color: #fff; }

	}

	// Features
	#features {
		background: #2d5c91;

		ul li:after { border-color: #ffffff; }

	}

	// Buttons
	.btn-primary {
	    background: @essence--primary-colour;
	    color: @essence--button-colour;

	    &:hover {
	        background: @essence--button-hover-bg;
	        color: @essence--primary-colour;
	    }

	}

	// Footer 
	#site-footer .row {

		h3 { color: @essence--primary-colour; }

		ul {

			&:before { background: @essence--primary-colour; }

			li a:hover { color: @essence--primary-colour; }

		}

		ul.social li a {
			color: @essence--primary-colour;

			&:hover { color: @bodyColour; }

		}

		.gform_wrapper .gform_body .ginput_container input,
		form .form-control { border-color: @essence--primary-colour; }

	}

	// Inner Page
	.main .block {

		.bg, .form {
			background: @essence--primary-colour;
		}

		.content {

			.inner {

				a:hover {
					color: @essence--primary-colour;
				}

				.btn {
					border-color: @essence--primary-colour;
					color: @essence--primary-colour;

					&:after {
						background-position: -39px -60px;
					}

					&:hover {
						background: @essence--primary-colour;
						color: #fff;

						&:after {
							background-position: -39px 0;
						}

					}

				}

			}

		}

		.form .submit {

			&:hover {

			}
			
		}

		.form .validation_message {
			color: #fff !important;
		}

	}

}