// Variables
@honest--primary-colour: #02040b;
@honest--button-bg: @honest--primary-colour;
@honest--button-colour: #fff;
@honest--button-hover-bg: #fff;
@honest--button-hover-colour: @honest--primary-colour;

body.honest {
	
	// Header
	header#site-header {
		border-top-color: @honest--primary-colour;

		.header-right { background: @honest--primary-colour; }

		nav ul li {

			a:hover { 
				@media @sm {
					color: @honest--primary-colour;
				}
			}

			&.menu-item-65 > a {
				color: @honest--primary-colour;
				font-weight: bold;
			}

			&.current-menu-item a,
			&.current-menu-ancestor a,
			&.current-page-ancestor a { color: @honest--primary-colour; }
			
			.sub-menu {
				@media @sm {
					background: #fff;
				}

					 li a {
					 	color: #fff;
					 	@media @sm {
					 		color: @navColour;
					 	}

					 	&:hover {
					 		@media @sm {
								background: #000;
								color: #fff;
							}
						}

					}
				
			}

			&.current-menu-item,
			&.current-menu-ancestor {

				.sub-menu {

					li.current-menu-item a {
						color: #000;

						&:hover {
							color: #fff;
						}
						
					}

				}

			}

			.sub-menu li.current-page-ancestor a {
				color: #000;

				&:hover {
					color: #fff;
				}

			}

		}

	}

	// Sub Page Nav
	.sub-page-nav ul li {

		a:hover {
			background: #000;
			color: #fff;
		}

		&.current a {
			background: #000;
			color: #fff;
		}

	}

	// Welcome Slider
	#welcome-slider .slide .content {
		background: #000;
		color: #fff;

		hr { border-color: #fff; }

		a { color: #fff; }

	}

	// Panel 	
	.panel-wrap .panel .content {
		background: #030303;
		color: #fff;
	}

	// Panel Wrap (Alt)
	.panel-wrap-alt .panel .content {
		background: #000;
		color: #fff;

		hr { border-color: #fff; }

		a { color: #fff; }

	}

	// Features
	#features {
		background: #000;

		ul li:after { border-color: #7a7a7a; }

	}

	// Buttons
	.btn-primary {
	    background: @honest--button-bg;
	    color: @honest--button-colour;

	    &:hover {
	        background: @honest--button-hover-bg;
	        color: @honest--button-hover-colour;
	    }

	}

	// Footer 
	#site-footer .row {

		h3 { color: @default--primary-colour; }

		ul {

			&:before { background: @default--primary-colour; }

			li a:hover { color: @default--primary-colour; }

		}

		ul.social li a {
			color: @default--primary-colour;

			&:hover { color: @bodyColour; }

		}

		.gform_wrapper .gform_body .ginput_container input,
		form .form-control { border-color: #ccc; }

	}

	// Inner Page

	.main .block {

		.bg, .form {
			background: @honest--primary-colour;
		}

		.content {

			.inner {

				a:hover {
					color: #000;
				}

				.btn {
					border-color: @honest--primary-colour;
					color: @honest--primary-colour;

					&:after {
						background-position: -39px -24px;
					}

					&:hover {
						background: @honest--primary-colour;
						color: #fff;

						&:after {
							background-position: -39px 0;
						}

					}

				}

			}

		}

		.form .submit {
			background: #fff;
			color: @bodyColour;

			&:hover {
				background: #ccc;
			}

		}

	}

}