// Variables
@mint--primary-colour: #9caf86;
@mint--button-colour: #fff;
@mint--button-hover-bg: #fff;

body.mint {
	
	// Header
	header#site-header {
		border-top-color: @mint--primary-colour;

		.header-right { background: @mint--primary-colour; }

		nav ul li {

			a:hover { 
				@media @sm {
					color: @mint--primary-colour;
				}
			}

			&.menu-item-65 > a {
				color: @mint--primary-colour;
				font-weight: bold;
			}
			
			&.current-menu-item a,
			&.current-menu-ancestor a,
			&.current-page-ancestor a { color: @mint--primary-colour; }
			
			.sub-menu {
				@media @sm {
					background: #fff;
				}

					 li a {
					 	color: #fff;
					 	@media @sm {
					 		color: @navColour;
					 	}

					 	&:hover {
					 		@media @sm {
								background: @mint--primary-colour;
								color: #fff;
							}
						}

					}
				
			}

			&.current-menu-item,
			&.current-menu-ancestor {

				.sub-menu {

					li.current-menu-item a {
						color: @mint--primary-colour;

						&:hover {
							color: #fff;
						}

					}

				}

			}

			.sub-menu li.current-page-ancestor a {
				color: @mint--primary-colour;

				&:hover {
					color: #fff;
				}

			}

		}

	}

	// Sub Page Nav
	.sub-page-nav ul li {

		a:hover {
			background: @mint--primary-colour;
			color: #fff;
		}

		&.current a {
			background: @mint--primary-colour;
			color: #fff;
		}

	}

	// Welcome Slider
	#welcome-slider .slide .content {
		background: @mint--primary-colour;
		color: #fff;

		hr { border-color: #fff; }

		a { color: #fff; }

	}

	// Panel 	
	.panel-wrap .panel .content {
		background: @mint--primary-colour;
		color: #fff;
	}

	// Panel Wrap (Alt)
	.panel-wrap-alt .panel .content {
		background: @mint--primary-colour;
		color: #fff;

		hr { border-color: #fff; }

		a { color: #fff; }

	}

	// Features
	#features {
		background: #313b45;

		ul li:after { border-color: #fff; }

	}

	// Buttons
	.btn-primary {
	    background: @mint--primary-colour;
	    color: @mint--button-colour;

	    &:hover {
	        background: @mint--button-hover-bg;
	        color: @mint--primary-colour;
	    }

	}

	// Footer 
	#site-footer .row {

		h3 { color: @mint--primary-colour; }

		ul {

			&:before { background: @mint--primary-colour; }

			li a:hover { color: @mint--primary-colour; }

		}

		ul.social li a {
			color: @mint--primary-colour;

			&:hover { color: @bodyColour; }

		}

		.gform_wrapper .gform_body .ginput_container input,
		form .form-control { border-color: @mint--primary-colour; }

	}


	// Inner Page

	.main .block {

		.bg, .form {
			background: @mint--primary-colour;
		}

		.content {

			.inner {
			
				a:hover {
					color: @mint--primary-colour;
				}

				.btn {
					border-color: @mint--primary-colour;
					color: @mint--primary-colour;

					&:after {
						background-position: -39px -36px;
					}

					&:hover {
						background: @mint--primary-colour;
						color: #fff;

						&:after {
							background-position: -39px 0;
						}

					}

				}

			}

		}

		.form .submit {

			&:hover {

			}
			
		}

		.form .validation_message {
			color: #fff !important;
		}

	}

	// Testimonials

	#customer-testimonial-wrap:after {
		background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
		background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
		background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
		height: 50px;
	}

}