// Variables
@venue--primary-colour: #000;
@venue--button-colour: #fff;
@venue--button-hover-bg: #fff;

body.venue {
	
	// Header
	header#site-header {
		border-top-color: @venue--primary-colour;

		.header-right { background: @venue--primary-colour; }

		nav ul li {

			a:hover { 
				@media @sm {
					color: @venue--primary-colour;
				}
			}

			&.menu-item-65 > a {
				color: @venue--primary-colour;
				font-weight: bold;
			}
			
			&.current-menu-item a,
			&.current-menu-ancestor a,
			&.current-page-ancestor a { color: @venue--primary-colour; }
			
			.sub-menu {
				@media @sm {
					background: #fff;
				}

					 li a {
					 	color: #fff;
					 	@media @sm {
					 		color: @navColour;
					 	}

					 	&:hover {
					 		@media @sm {
								background: @venue--primary-colour;
								color: #fff;
							}
						}

					}
				
			}

			&.current-menu-item,
			&.current-menu-ancestor {

				.sub-menu {

					li.current-menu-item a {
						color: @venue--primary-colour;

						&:hover {
							color: #fff;
						}
						
					}

				}

			}

			.sub-menu li.current-page-ancestor a {
				color: @venue--primary-colour;

				&:hover {
					color: #fff;
				}

			}

		}

	}

	// Sub Page Nav
	.sub-page-nav ul li {

		a:hover {
			background: @venue--primary-colour;
			color: #fff;
		}

		&.current a {
			background: @venue--primary-colour;
			color: #fff;
		}

	}

	// Welcome Slider
	#welcome-slider {
		background-color: #4D4D4D;

		.slide .content {
			background: @venue--primary-colour;
			color: #fff;

			hr { border-color: #fff; }

			a { color: #fff; }

		}

	}

	// Other Pages
	#customer-testimonial-wrap {

		.other-pages {
			background-color: #B3B3B3;
		}

		.testimonial {
			border-color: rgba(255,255,255,.2);
		}

	}


	// Panel 	
	.panel-wrap .panel .content {
		background: @venue--primary-colour;
		color: #fff;
	}

	// Panel Wrap (Alt)
	.panel-wrap-alt .panel .content {
		background: @venue--primary-colour;
		color: #fff;

		hr { border-color: #fff; }

		a { color: #fff; }

	}

	// Features
	#features {
		background: #000;

		ul li:after { border-color: #ffffff; }

	}

	// Buttons
	.btn-primary {
	    background: @venue--primary-colour;
	    color: @venue--button-colour;

	    &:hover {
	        background: @venue--button-hover-bg;
	        color: @venue--primary-colour;
	    }

	}

	// Footer 
	#site-footer .row {

		h3 { color: @venue--primary-colour; }

		ul {

			&:before { background: @venue--primary-colour; }

			li a:hover { color: @venue--primary-colour; }

		}

		ul.social li a {
			color: @venue--primary-colour;

			&:hover { color: @bodyColour; }

		}

		.gform_wrapper .gform_body .ginput_container input,
		form .form-control { border-color: @venue--primary-colour; }

	}

	// Inner Page
	.main {
		background-color: #4D4D4D;


		.block {

			.bg, .form {
				background: @venue--primary-colour;
			}

			.content {

				.inner {

					a:hover {
						color: #000;
					}

					.btn {
						border-color: @venue--primary-colour;
						color: @venue--primary-colour;

						&:after {
							background-position: -39px -24px;
						}

						&:hover {
							background: @venue--primary-colour;
							color: #fff;

							&:after {
								background-position: -39px 0;
							}

						}

					}

				}

			}

			.form .submit {
				background: #fff;
				color: @bodyColour;

				&:hover {
					background: #ccc;
				}
				
			}

		}

	}

}