#site-footer {
	padding: 40px 0;
	@media @md {
		padding-top: 60px;
	}

	.row {

		div[class*="col-"]:first-child h3 {
			margin-top: 0;
		}

		h3 {
			color: @default--primary-colour;
			font-size: 15px;
			line-height: 1;
			margin: 40px 0 20px;
			@media @md {
				margin: 0 0 30px;
			}

			small {
				color: @bodyColour;
				display: block;
				font-size: 10px;
				margin-bottom: 5px;
			}

		}

		ul {
			&:extend(.unstyled all);
			padding: 0 0 0 20px;
			position: relative;

			&:before {
				background: @default--primary-colour;
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 2px;
				height: 28px;
				width: 2px;
			}

			li {
				font-size: 14px;
				line-height: 1;
				margin: 0 0 15px;

				a {
					color: #231f20;

					&:hover {
						color: @default--primary-colour;
					}

				}

				&:last-child {
					margin-bottom: 0;
				}

				&.menu-item-65 {
					display: none !important;
				}

			}

		}

		.contact {

			ul {

				li {
					line-height: 200%;
					margin: 0 0 30px;

					&:last-child {
						margin-bottom: 0;
					}
					
				}

			}

		}

		ul.social {
			&:extend(.inline all);
			margin-top: 25px;
			padding: 0;

			&:before {
				display: none;
			}

			li {
				font-size: 18px;
				margin: 0 12px 0 0;

				a {
					color: @default--primary-colour;

					&:hover {
						color: @bodyColour;
					}

				}

			}

		}

	}

	.gform_confirmation_message {
		color: @bodyColour;
		font-size: 13px;
	}

	.gform_wrapper {
		position: relative;

		.gform_ajax_spinner,
		.validation_error {
			display: none !important;
		}

		.gform_body {

			.gform_fields {
				&:extend(.unstyled all);
			}

			.gfield_label {
				display: none !important;
			}

			.ginput_container input {
				border: 1px solid @default--primary-colour;
				height: 55px;
				line-height: 55px;
			}

			.gfield_description.validation_message {
				color: @error;
				font-size: 13px;
				display: block;
				margin: 10px 0;
			}

			button {
				background: none;
				border: none;			
				outline: none;
				height: 55px;
				position: absolute;
				top: 0;
				right: 0;
				width: 40px;

				.icon {
					.transition;
					.opacity(40);
					right: 7px;
					top: 2px;				
				}

				&:hover .icon {
					.opacity(100);
				}

			}

		}

	}

	form {

		.form-control {	
			border: 1px solid @default--primary-colour;
			height: 55px;
			line-height: 55px;
		}

		button {
			background: none;
			border: none;			
			outline: none;
			height: 55px;
			position: absolute;
			top: 0;
			right: 0;
			width: 40px;

			.icon {
				.transition;
				.opacity(40);
				right: 7px;
				top: 2px;				
			}

			&:hover .icon {
				.opacity(100);
			}

		}

	}

	p.copyright {
		color: #7b7979;
		font-size: 13px;
		margin: 30px 0 0;
		@media @md {
			float: right;
			margin-top: 70px;
		}

		span {
			height: 0;
			display: block;
			@media @sm {
				display: inline-block;
				height: auto;
				padding: 0 12px;
			}
		}

		a {
			color: #7b7979;

			&:hover {
				color: @bodyColour;
			}

		}

	}

}