header#site-header {
	background: #fff;
	border-top-color: @default--primary-colour;
	border-top-width: 5px;
	border-top-style: solid;
	height: 140px;
	position: fixed;
	z-index: 99;
	width: 100%;
	@media @sm {
		height: 115px;
	}

	.container {
		height: 100%;
		position: relative;
	}

	.header-right {
		background: @default--primary-colour;
		float: left;
		height: 40px;
		margin-bottom: 12px;
		padding: 12px 15px 0;
		width: 100%;
		@media @sm {
			float: right;
			display: block;
			margin-bottom: 0;
			padding: 10px 30px 0;
			width: auto;
		}

		ul {
			&:extend(.inline all);
			display: inline-block;
			line-height: 1;
			width: 100%;
			@media @sm {
				width: auto;
			}

			li {
				color: #fff;
				display: block;
				float: left;
				font-size: 13px;
				line-height: 1;
				margin: 0;								
				@media @sm {
					display: inline-block;
					float: none !important;
					font-size: 14px;
					margin: 0 35px 0 0;
				}

				&:last-child {
					float: right;
					margin-right: 0 !important;
				}

				a {
					color: #fff;

					&[href^="tel:"] {
						color: #fff !important;
					}
					
					&:hover {

					}

					.icon {
						display: none;
						@media @sm {
							display: block;
							float: left;
							margin-right: 7px;
							position: relative;
							top: -3px;
						}

						&.email-sml {
							top: -2px;
						}

					}

				}

			}

			&.social {
				display: none;
				@media @sm {
					display: inline-block;
					border-left: 1px solid rgba(255,255,255,.3);
					margin-left: 15px;
					padding-left: 15px;
				}

				li {
					margin: 0 15px 0 0;
				}

			}

		}

	}

	.logo {
		bottom: 0;
		left: 15px;
		position: absolute;

		float: left;
		width: 90px;
		@media @sm {
			bottom: auto;
			left: auto;
			position: relative;
			width: auto;
		}

		img {
			display: block;
			height: auto;
			max-width: 100%;
		}

	}

	.nav-toggle {
		cursor: pointer;
		display: block;
		height: 30px;
		right: 15px;
		position: absolute;
		top: 73px;
		width: 40px;

		z-index: 999999;
		@media @sm {
			display: none;
		}

		span {
			background: @bodyColour;			
			display: block;
			position: absolute;
			height: 2px;
			width: 50%;			
			opacity: 1;
			-webkit-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-o-transform: rotate(0deg);
			transform: rotate(0deg);
			-webkit-transition: .25s ease-in-out;
			-moz-transition: .25s ease-in-out;
			-o-transition: .25s ease-in-out;
			transition: .25s ease-in-out;
		
			&:nth-child(even) {
				left: 50%;
			}

			&:nth-child(odd) {
				left: 0px;
			}

			&:nth-child(1), &:nth-child(2) {
				top: 7px;
			}

			&:nth-child(3), &:nth-child(4) {
				top: 15px;
			}

			&:nth-child(5), &:nth-child(6) {
				top: 23px;
			}

		}

		&.open {
				
			span {

				&:nth-child(1), &:nth-child(6) {
					-webkit-transform: rotate(45deg);
					-moz-transform: rotate(45deg);
					-o-transform: rotate(45deg);
					transform: rotate(45deg);
				}

				&:nth-child(2), &:nth-child(5) {
					-webkit-transform: rotate(-45deg);
					-moz-transform: rotate(-45deg);
					-o-transform: rotate(-45deg);
					transform: rotate(-45deg);
				}

				&:nth-child(1) {
					left: 5px;
					top: 7px;
				}

				&:nth-child(2) {
					left: calc(50% - 5px);
					top: 7px;
				}

				&:nth-child(3) {
					left: -50%;
					opacity: 0;
				}

				&:nth-child(4) {
					left: 100%;
					opacity: 0;
				}

				&:nth-child(5) {
					left: 5px;
					top: 20px;
				}

				&:nth-child(6) {
					left: calc(50% - 5px);
					top: 20px;
				}

			}

		}

	}

	nav {
		background: #333;
		bottom: 0;
		float: right;
		right: -280px;
		overflow: auto;		
		position: fixed;		
		text-align: right;
		top: 140px;
		width: 280px;
		z-index: 99;		
		@media @sm {
			background: none;
			display: block !important;
			overflow: visible !important;
			height: auto;
			top: auto;
			left: auto;
			position: relative;
			right: auto !important;
			width: 75%;
			z-index: 1;
		}

		ul {
			&:extend(.inline all);
			line-height: 1;
			margin: 0;
			padding: 0;

			li {
				border-bottom: 1px solid #3c3c3c;
				line-height: 1;
				margin: 0;
				padding: 0;
				position: relative;
				width: 100%;
				text-align: left;
				@media @sm {
					border: none;
					text-align: center;
					width: auto;
				}

				&:last-child a {
					padding-right: 0;					
				}

				&.current-menu-item,
				&.current-menu-ancestor {
					
					a {
						font-weight: bold;
						@media @sm {
							color: @navHoverColour;
						}
					}

					.sub-menu li a {
						color: #fff;
						font-weight: normal;
						@media @sm {
							color: @navColour;
						}
					}

				}

				a {
					color: #fff;
					display: block;
					height: 55px;
					line-height: 55px;
					padding: 0 20px;
					@media @sm {
						color: @navColour;
						height: 69px;
						line-height: 69px;
						
					}
					@media @md {
						padding: 0 35px;	
					}

					&:hover {
						@media @sm {
							color: @navHoverColour;
						}
					}

				}

				.sub-menu {
					display: none;
					position: relative;
					z-index: 2;
					@media @sm {
						.box-shadow(0 4px 15px 0 rgba(0,0,0,.07));
						background: @bgGrey;
						position: absolute;
						top: 69px;
						width: 200px;
					}

					li {
						display: block;
						text-align: left;

						a {
							height: auto;
							line-height: 1.4;
							padding: 20px 30px;

							&:hover {
								color: #fff;
								@media @sm {
									background: #a9aeb4;
								}								
							}

						}

						&.current-menu-item a,
						&.current-page-ancestor a {
							font-weight: bold;
						}

					}

				}

				&.menu-item-has-children {

					span {
						color: #fff;
						display: block;
						float: right;
						height: 55px;
						line-height: 55px;
						right: 0;
						position: absolute;
						text-align: center;
						top: 0;
						width: 65px;
						z-index: 99;
						@media @sm {
							display: none !important;
						}

						&:after {
							.fa('\f107');
							color: #fff;
							font-size: 16px;
							position: relative;
							top: 2px;
						}

					}

					&.open {

						span:after {
							.fa('\f106');
							top: 1px;
						}

					}

					a {
						cursor: pointer;
					}

				}

				&.menu-item-has-children:hover .sub-menu {
					@media @sm {
						display: block !important;
					}
				}

			}

		}

	}
	
}