@import 'inc/_reset';
@import 'plugs/font-awesome/font-awesome';
@import 'inc/_variables';
@import 'inc/_mixins';
@import 'inc/_grid';
@import 'inc/_general';
@import 'inc/_typography';
@import 'inc/_custom-icons';
@import 'inc/_lists';
@import 'inc/_buttons';
@import 'inc/_forms';
@import 'inc/layout/_header';
@import 'inc/layout/_footer';
@import 'inc/_carousel';
@import 'inc/_hero';
@import 'inc/_latest-news';
@import 'inc/_making-a-difference';
@import 'inc/_contact-cta';
@import 'inc/_brands';
@import 'pages/_home';
@import 'pages/_about';
@import 'pages/_team';
@import 'pages/_vacancies';
@import 'pages/_accreditations';
@import 'pages/_contact';
@import 'pages/brands/_landing';
@import 'pages/_brand-home';
@import 'pages/_brand-inner';
@import 'pages/_brand-contact';
@import 'pages/brands/_testimonial';
@import 'pages/brands/_features';
@import 'pages/brands/_panel';
@import 'pages/brands/_main';
@import 'pages/brands/_thankyou';
@import 'pages/_news-list';
@import 'pages/_news-detail';
@import 'pages/_contract-catering';
@import 'pages/_thankyou';
@import 'inc/themes/_honest';
@import 'inc/themes/_mint';
@import 'inc/themes/_venue';
@import 'inc/themes/_essence';
@import 'inc/themes/_grow';


hr {
	border: none;
	border-top: 1px solid @bodyColour;
}


// Sub Page Nav

.sub-page-nav {
	background: #fff;

	.mobile-nav {
		@media @md {
			display: none;
		}

		span {
			border-bottom: 1px solid #eee;
			color: @bodyColour;
			display: block;
			height: 60px;
			line-height: 60px;
			font-size: 15px;
			padding: 0 15px;

			.fa {
				float: right;
				position: relative;
				top: 22px;
			}

		}

		ul {
			&:extend(.inline all);
			display: none;

			li {
				width: 100%;

				a {
					background: #fff;
					border-bottom: 1px solid #eee;
					color: @bodyColour;
					display: block;
					height: 60px;
					line-height: 60px;
					font-size: 15px;
					padding: 0 15px;
				}

				&.current a {
					background: #000;
					color: #fff;
				}

			}

		}

	}
	
	.desktop-nav {
		display: none;
		@media @md {
			display: block;	
		}

		ul {
			&:extend(.inline all);

			li {
				@media @md {
					display: inline-block;
					line-height: 1.2;
					vertical-align: top;
					width: 20%;
				}

				&:first-child a {
					border-left-width: 2px;
				}

				&:last-child a {
					border-right-width: 2px;
				}

				a {
					background: #fff;
					border: 1px solid #f9f9f9;
					border-bottom: none;
					border-top: none;
					color: @bodyColour;
					display: block;
					height: 110px;
					font-size: 15px;				
					padding: 35px 35px 0 20px;
					@media @lg {
						padding-left: 80px;
					}

					&:hover {
						background: #000;
						color: #fff;
					}

					small {
						display: block;	
						font-family: @museo;
						font-size: 10px;
						margin-bottom: 3px;
					}

				}

				&.current a {
					background: #000;
					color: #fff;
				}

			}

		}

	}

}


// General Page

.page-template-default,
.error404 {

	.main {
		@media @lg {
			padding: 100px 0;
		}

		.block {

			.inner {
				width: 100% !important;
			}

			h2 {
				color: @default--primary-colour;
				font-size: 26px;
				line-height: 36px;
				margin: 0 0 30px;
				@media @sm {
					font-size: 30px;
					line-height: 40px;
				}
				@media @lg {
					
				}
			}

			p, ul li {
				font-size: 16px;
				line-height: 24px;
				margin-bottom: 30px;
				@media @md {
					font-size: 19px;
					line-height: 28px;
				}

				a {
					color: @default--primary-colour;

					&:hover {
						color: @bodyColour;
					}

				}

			}

		}

	}

}

